#blog-list-wrapper
{
    padding: 2rem;
}

.blog
{
    margin: 2rem 0;
    display: flex;
    @include lg{flex-direction: row;}
    @include md{flex-direction: column;}
    @include sm{flex-direction: column;}
    .blog-cover
    {
        flex: 1;
        .blog-img-wrapper
        {
            width: 100%;
            position: relative;
            padding-top: 50%;
            overflow: hidden;
            .blog-img
            {
                width: 100%;
                position: absolute;
                top:0;
                bottom:0;
                right: 0;
                left: 0;
            }
            .blog-date
            {
                position: absolute;
                top:0;
                left:0;
                padding:0 .2rem;
                margin:0;
                background:white;
                font-size: .8rem;
                color: #000;
            }
        }
    }

    .blog-details
    {
        position: relative;
        flex:3;
        margin: 0 1rem;
        @include sm {margin: .2rem 1rem;}
        .blog-title
        {
            margin:0;
            padding:0;
            a{text-decoration: none; color: #111;}
        }
        .blog-title:hover:hover
        {
            text-decoration: underline;
        }

        .blog-excerpt
        {
            margin:.5rem;
            font-size: 1rem;
            text-align: justify;
            color: #777;
        }

        .blog-tag-container
        {
            position: absolute;
            bottom: -1rem;
            margin:0;
            padding:0;

            .blog-tag
            {
                text-decoration: none;
                padding: .1rem;
                background: #ebebeb;
                border-radius: .1rem;
                border: solid .08rem #aaa;
                color: #000;
            }
        }
    }

    
}