
<div class="book-list-wrapper">
    <div class="book-list-container">

            <!-- Latest Prakriti Edition -->
            {%assign prakriti_latest_post_id = site.prakriti | size | minus:1%}
            {%assign prakriti_latest = site.prakriti[prakriti_latest_post_id]%}
            <div class="book">
                <div class="book-cover-container">
                    <img class="book-cover" src="{{prakriti_latest.image}}" alt="{{}}">
                </div>
                <div class="book-details">
                    <h5 class="book-tags">tags</h5>
                    <h2 class="book-title"><span><h5 style="font-size: .8rem; color: #bfb4ff;">Latest Edition of</h5></span>প্রকৃতি</h2>
                    <h3><span>{{prakriti_latest.MMM}}</span><span> • </span><span>{{prakriti_latest.YYYY}}</span></h3>
                    <a href="{{prakriti_latest.url}}"><button>More Details</button></a>
                </div>
            </div>

            <!-- Latest Brekathrough Edition -->
            {%assign breakthrough_latest_post_id = site.breakthrough | size | minus:1%}
            {%assign breakthrough_latest = site.breakthrough[breakthrough_latest_post_id]%}
            <div class="book">
                <div class="book-cover-container">
                    <img class="book-cover" src="{{breakthrough_latest.image}}" alt="{{}}">
                </div>
                <div class="book-details">
                    <h5 class="book-tags">tags</h5>
                    <h2 class="book-title"><span><h5 style="font-size: .8rem; color: #bfb4ff;">Latest Edition of</h5></span>Breakthrough</h2>
                    <h3><span>{{breakthrough_latest.MMM}}</span><span> • </span><span>{{breakthrough_latest.YYYY}}</span></h3>
                    <a href="{{breakthrough_latest.url}}"><button>More Details</button></a>
                </div>
            </div>

            <!-- Link to all Prakriti Editions-->
            <div class="book">
                <div class="book-cover-container">
                    <img class="book-cover" src="{{site.prakriti[1].image}}" alt="{{}}">
                    <img class="book-cover" src="{{site.prakriti[3].image}}" alt="{{}}">
                </div>
                <div class="book-details" style="transform: translate(0)!important;">
                    <h2 class="book-title">Old Issues of প্রকৃতি</h2>
                    <a href="/publications/prakriti/"><button>Click Here</button></a>
                </div>
            </div>

            <!-- Link to all Breakthrough Editions -->
            <div class="book">
                <div class="book-cover-container">
                    <img class="book-cover" src="{{site.breakthrough[1].image}}" alt="{{}}">
                    <img class="book-cover" src="{{site.breakthrough[2].image}}" alt="{{}}">
                </div>
                <div class="book-details" style="transform: translate(0)!important;">
                    <h2 class="book-title">Old Issues of Breakthrough</h2>
                    <a href="/publications/breakthrough/"><button>Click Here</button></a>
                </div>
            </div>
        
        <!-- ALl other publications -->
        {%assign book_legth = site.publications | size%}
        {%for i in (1..{{book_legth}})%}
            {%for j in (1..{{book_legth}})%}
                {%assign post_index = j | minus:1%}
                {%assign post_id = site.publications[post_index].book_id%}
                {%if i == post_id %}
                    {%assign book_image = site.publications[post_index].image%}
                    {%assign book_title = site.publications[post_index].title%}
                    {%assign book_url = site.publications[post_index].url%}
                    {%assign book_tag = site.publications[post_index].tag%}
                    <!-- Book {{i}}-->
                    <div class="book">
                        <div class="book-cover-container">
                            <img class="book-cover" src="{{book_image}}" alt="{{}}">
                        </div>
                        <div class="book-details">
                            <h5 class="book-tags">tags</h5>
                            <h2 class="book-title">{{book_title}}</h2>
                            <a href="{{book_url}}"><button>More Details</button></a>
                        </div>
                    </div>
                {%endif%}
            {%endfor%}
        {%endfor%}
    </div>
</div>

