
#activity-list-wrapper
{
    padding: 2rem;
}

.activity
{
    margin: 2rem 0;
    
    display: flex;
    @include lg{flex-direction: row;}
    @include md{flex-direction: column;}
    @include sm{flex-direction: column;}
    .activity-cover
    {
        flex: 1;
        .activity-img-wrapper
        {
            width: 100%;
            position: relative;
            padding-top: 50%;
            overflow: hidden;
            .activity-img
            {
                width: 100%;
                position: absolute;
                top:0;
                bottom:0;
                right: 0;
                left: 0;
            }
            .activity-date
            {
                position: absolute;
                top:0;
                left:0;
                padding:0 .2rem;
                margin:0;
                background:white;
                font-size: .8rem;
                color: #000;
            }
        }
    }

    .activity-details
    {
        position: relative;
        flex:3;
        margin: 0 1rem;
        @include sm {margin: .2rem 1rem;}
        .activity-title
        {
            margin:0;
            padding:0;
            a{text-decoration: none; color: #111;}
            .active::before
            {
                content: "Active";
                color: red;
                animation: active .5s infinite;
                border: solid .2rem red;
                padding: .2rem;
                border-radius: .5rem;
            }
            @keyframes active {
                0%{color: red;}
                50%{color: #0000ff;}
                100%{color: red;}
            }
            }
        .activity-title:hover:hover
        {
            text-decoration: underline;
        }

        .activity-excerpt
        {
            margin:.5rem;
            font-size: 1rem;
            text-align: justify;
            color: #777;
        }

        .activity-tag-container
        {
            position: absolute;
            bottom: -1rem;
            margin:0;
            padding:0;

            .activity-tag
            {
                text-decoration: none;
                padding: .1rem;
                background: #ebebeb;
                border-radius: .1rem;
                border: solid .08rem #aaa;
                color: #000;
            }
        }
    }

    
}