#activity-post
{

    .activity-title
    {
        font-size: 1.2rem;

        .active::before
        {
            content: "Active";
            color: red;
            animation: active .5s infinite;
            border: solid .2rem red;
            padding: .2rem;
            border-radius: .5rem;
        }
        @keyframes active {
            0%{color: red;}
            50%{color: #0000ff;}
            100%{color: red;}
        }
    }
    .activity-date {margin:0; font-size: .8rem;}
    .activity-cover
    {
        @include lg {width: 500px;}
        @include md {width: 100%}
        @include sm {width: 100%}
        position: relative;
        padding-top: 50%;
        overflow: hidden;
        img
        {
            width: 100%;
            position: absolute;
            top:50%;
            bottom:0;
            right: 0;
            transform: translateY(-50%);
        }
    }
    .activity-description
    {
        h1,h3{ margin:0;}
    }

    .file-btn
    {
        border: none;
        padding:1rem;
        margin: 1rem;
        border-radius: .4rem;
        color:white;
        font-size: .9rem;
        background-image: linear-gradient(to right, #0069b4 0%, #1FA2FF 100%);
        box-shadow: -.1rem .1rem .3rem #444;
    }
    .tag-btn::before
    {
        content: "#";
    }
}
