.lang-select-container
{
    display: flex;
    flex-wrap: nowrap;
}
.lang-text-container>h2
{
    margin: 0;
    padding: 5px;
}
.lang-btn-en-container, .lang-btn-bn-container
{
    margin: 10px;
    padding: 0;
}
.lang-btn-en-container h2, .lang-btn-bn-container h2
{
    margin: 0;
    padding: 5px;

}

.host-container
{
    display: flex;
    flex-wrap: nowrap;
}
.host-img-container
{
    width: 200px;
}
.host-msg-container
{
    border: solid black 2px;
    margin: 10px;
    padding: 10px;
    flex-grow: 10;
}
#host-msg
{
    margin: 0;
    padding: 5px;
}
#host-msg::before
{
    content: "Message from the host - ";
}



.box-wrapper-parent
{   
    width: 100%;

}
#boxes-wrapper
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box-container
{
    width: 100%;
    margin: 10px;
    border: solid black 1px;
    cursor: pointer;
}
.box-container:hover
{
    background-color:aliceblue;
    
}

#box1, #box2, #box3
{
    overflow: hidden;
    position: relative; 
    width: calc(33% - 21px);
}
#box1-lock, #box2-lock, #box3-lock
{
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
    padding: 10%;
    background: #ffffffd5;
    display:none;
}
#box1-lock, #box2-lock, #box3-lock img, #box1-content, #box2-content, #box3-content img
{
    width: 25vw;
}
#box1-cover, #box2-cover, #box3-cover
{
    z-index: 9;
    position: relative;

    background-color: whitesmoke;
    padding: 10px;
}
#box1-content, #box2-content, #box3-content
{
    z-index: 8;
    position: absolute;
    top:0;
    left: 0;
}

.show
{
    display:block!important;
}

.slide-mystry
{
    transform: translateY(-100%);
    transition: transform 2s;
}

