
.book-list-wrapper
{
    
}

.book-list-container
{
    display: flex;
    flex-wrap: wrap;
    background: #fffffe;
    justify-content: space-around;
}

.book
{
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    @include lg{flex-basis: calc(25% - 3rem);}
    @include md{flex-basis: calc(30% - 3rem);}
    @include sm{flex-basis: calc(50% - 3rem);}
    
    padding: .8rem;
    margin:.5rem;
    background: #fff;
    *{paddin:0;margin:0;}
    overflow: hidden;

    .book-cover-container
    {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .book-cover
        {
            width:100%;
            transform: scale(1.04);
            transition-property: transform;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
            
        }
    }

    .book-details
    {
        position: absolute;
        padding:.5rem;
        //top:.8rem; bottom:.8rem;
        //left:3rem; right:0.8rem;
        top:.8rem; bottom:.8rem; left: .8rem; right:.8rem;
        background: #000000bd;
        transform: translateY(calc(100% + .9rem));
        transition-property: transform , opacity;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color:white;

        .book-title
        {
            font-size:2rem;
            margin: .5rem 0;
            text-align: center;
        }
        .book-tags
        {
            color: #666;
        }
        button
        {
            border:none;
            background:#ccc;
            padding:.3rem;
            background: #ccc;
            font-size: .8rem;
        }
    }
}

.book:hover
{
    .book-cover
    {
        transform: scale(1);
    }
    .book-details
    {
        transform: translateY(0);
    }
}