<button id="back-to-top-btn" title="Go to top of the page"><i class="fas fa-chevron-up" style="outline: none!important;"></i></i></button>

<script>
    
const backToTopBtn = document.getElementById('back-to-top-btn');

function onScrollVisibility(){
    if (window.pageYOffset > 300)
    {
        if(!backToTopBtn.classList.contains("back-to-top-btn-entrance"))
        {
            backToTopBtn.classList.remove('back-to-top-btn-exit');
            backToTopBtn.classList.add('back-to-top-btn-entrance');
            setTimeout(function(){backToTopBtn.style.display="block";}, 250);
        }
        else{return};
    }
    else
    {
        if(!backToTopBtn.classList.contains("back-to-top-btn-exit"))
        {
            backToTopBtn.classList.remove('back-to-top-btn-entrance');
            backToTopBtn.classList.add('back-to-top-btn-exit');
            setTimeout(function(){backToTopBtn.style.display="none";}, 250);
        }
        else{return};
    }
}

function scrollToTop(){
    window.scrollTo(0,0);
}

window.addEventListener("scroll", onScrollVisibility);
backToTopBtn.addEventListener("click", scrollToTop);

</script>