<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>

<h2>Light of Science Facebook Page</h2>
<div class="fb-page" data-href="https://www.facebook.com/LightOfScience" data-tabs="timeline, events, messages" data-width="" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LightOfScience" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LightOfScience">Light of Science</a></blockquote></div>