{% include newsletter.html %}
<footer id="footer">
    <div id="bss-wrapper">
        <a href="https://BreakthroughIndia.org/" target="_blank" id="bss">
            <div id="bss-logo-wrapper">
                <img src="/assets/img/bss_logo_white.svg" alt="Breakthrough Science Society Logo" id="bss-logo">
            </div>
            <h1>Visit Breakthrough Science Society Website</h1>
        </a>
    </div>

    <hr>
    
    <div id="social-link">
        <h2>Get connected with us @</h2>
        <ul class="social-element-wrapper">
            <a class="social-element social-fb" href="https://facebook.com/LightOfScience/" target="_blank" title="Facebook Page"><i class="fab  fa-facebook-square"></i></a>
            <a class="social-element social-ms" href="https://m.me/LightOfScience/" target="_blank" title="Messenger ID"><i class="fab  fa-facebook-messenger"></i></a>
            <a class="social-element social-yt" href="https://www.youtube.com/channel/UC9SgA7fF5rI3XNj11N4GPwA/" target="_blank" title="YouTube Channel"><i class="fab  fa-youtube"></i></a>
            <a class="social-element social-ml" href="mailto:LightOfScience@outlook.com?cc=LightOfScienceOfficial@gmail.com" title="Send Email"><i class="fas  fa-envelope"></i></a>
            <a class="social-element social-ph" href="tel:+918927686156" title="Call Us"><i class="fas  fa-phone-square"></i></a>
        </ul>
    </div>

    <div id="details-bar">
        <div id="col1">
            <h1>About Light Of Science</h1>
            <div><p>Light of Science is a science organization located in the Jalpaiguri district of West Bengal. This Science Organization is affiliated to Breakthrough Science Society (Registration Number - 53166/92).</p></div>
        </div>
        <div id="col2">
            <h1>Useful Links</h1>
            <div><a href="/index.html">Home</a></div>
            <div><a href="/Member.html">Become a Member</a></div>
            <div><a href="/Publications_&amp;_Books.html">Publications and Books</a></div>
            <div><a href="https://BreakthroughIndia.org" target="_blank">Breakthrough Science Society Website</a></div>  
        </div>
        <div id="col3">
            <h1>Contact Info</h1>
            <div><a href="https://www.google.com/maps/place/Angira+Apartment/@26.5237978,88.7219252,21z/data=!4m5!3m4!1s0x0:0xbd60de93269c003a!8m2!3d26.5237765!4d88.7218949" title="Visit on Google Map" target="_blank"><i class="fas fa-map-marker-alt"></i> Angira Apartment, Pahari Para, Kadamtala, Jalpaiguri, WB, 735101, IN</a></div>
            <div><a href="mailto:LightOfScience@outlook.com?cc=LightOfScienceOfficial@gmail.com" title="Send Email"><i class="fas fa-envelope"></i> LightOfScience@outlook.com</a></div>
            <div><a href="tel:+918170068780" title="Call Us"><i class="fas fa-phone"></i> +91 8170 068780</a></div>
            <div><a href="tel:+918927686156" title="Call Us"><i class="fas fa-phone"></i> +91 8927 686156</a></div>
        </div>
    </div>
</footer>
<div id="site-status">
    <div id="col1">
        <h5>Last Updated On: <span id="last-update-date"></span></h5>
        <h5>Website Version: <span id="website-version"></span></h5>
        <h5>Comment: <span id="upload-comment"></span></h5>
        <h5><a href="/sitemap.html" target="_blank" style="font-size:10px; color:hsl(0, 0%, 25%); text-decoration:none;">HTML SiteMap</a></h5>
    </div>
    <div id="col2">
        <h5>Designed and Developped by Light Of Science</h5>
        <h5><a style="color:hsl(0, 0%, 25%);     text-decoration:none;" href="https://GitHub.com/LightOfScience" target="_blank"><i class="fab fa-1x fa-github"> GitHub </i> </a> <a style="color:hsl(0, 0%, 25%); text-decoration:none;" href="https://GitLab.com/LightOfScience" target="_blank"><i class="fab fa-1x fa-gitlab"> GitLab </i> </a> </h5>
    </div>
    <div id="col3">
        <span>
            <h5>Made possible by,</h5>
            <a href="https://jekyllrb.com//" target="_blank"><img style="height: 30px;" src="https://github.com/jekyll/brand/raw/master/jekyll-logo-dark-solid.png" alt=""></a>
            <a href="https://GitLab.com/" target="_blank"><img style="height: 30px;" src="https://about.gitlab.com/images/press/logo/svg/gitlab-logo-gray-rgb.svg" alt=""></a>
            <a href="https://GitHub.com/" target="_blank"><span><img style="height: 30px; background:white;" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Font_Awesome_5_brands_github.svg" alt=""><img style="height: 30px; background:white;" src="https://upload.wikimedia.org/wikipedia/commons/2/24/GitHub_logo_2013_padded.svg" alt=""></span></a>
            <a href="https://CloudFlare.com/" target="_blank"><img style="height: 30px;" src="https://www.cloudflare.com/img/logo-web-badges/cf-logo-on-white-bg.svg" alt=""></a>
            <a href="https://freenom.com/" target="_blank"><img style="height: 30px;" src="https://www.freenom.com/images.v2/logo.png" alt=""></a>
            <a href="https://Google.com/" target="_blank"><img style="height: 30px;" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt=""></a>
            <a href="https://InfinityFree.net/" target="_blank"><img style="height: 30px;" src="https://infinityfree.net/assets/logo-c4b8b48e3dcb6ca5cd6227317693edb013d372a75a06af8f2e7e5c4dcea22354.png" alt=""></a>     
        </span>
    </div>
</div>

{% include back-to-top.html %}