<footer>
    <div id="footer-wrapper">
        <div id="footer-info-wrapper">
            <div id="footer-about-wrapper"></div>
            <div id="footer-nav-wrapper"></div>
            <div id="footer-links-wrapper"></div>
        </div>
        <div id="footer-last-wrapper">
            <h6>Copyleft (ɔ) 2020 Light Of Science. Light of Science is neither responsible for contents of external sites nor the content(s) on other external sites which have been taken from Light Of Science website and have been modifed.<br>Licenced under <a href="https://raw.githubusercontent.com/LightOfScience/LightOfScience.org.in/master/LICENCE">AGPLv3.0</a></h6>
            <h6>Designed and Developped by Light Of Science</h6>
            <h6><a href="/sitemap.xml">Sitemap</a></h6>
        </div>
    </div>
</footer>