<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/assets/img/favicon.png">
    <meta name="description" content="{{page.seo.description}}">
    <meta name="keywords" content="Light Of Science,Science,Education,Technology,Engineering,{{page.seo.keywords}}">
    <meta name="author" content="Light Of Science">
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:url" content="https://LightOfScience.org.in{{page.url}}" />
    <meta property="og:image" content="https://LightOfScience.org.in{{page.img}}" /> 

    {% case include.nav_menu %}
        {% when "home" %}
            {%include home/home-styles.md %}
        {% when "blog" %}
            {%include blog/blog-styles.md %}
        {% when "news" %}
            {%include news/news-styles.md %}
        {% when "activities" %}
            {%include activities/activities-styles.md %}
        {% when "publications" %}
            {%include publications/publications-styles.md %}
        {% when "about" %}
            {%include about/about-styles.md %}
        {% when "member" %}
            {%include member/member-styles.md %}
    {% endcase %}

</head>
<body>
    <header id="header-wrapper">
        <div id="header">
            <div id="org-motto">
                <h2>Science for Society</h2>
                <h2>Science for Man</h2>
                <h2>Science in Thinking</h2>
            </div>
            <div id="org-logo-name-nav">
                <div id="org-container">
                    <div id="org-logo-container"><img id="org-logo" src="/assets/img/logo.svg" alt="Light Of Science Logo"></div>
                    <div id="org-name-container"><h1 id="org-name">Light Of Science</h1></div>
                    <button id="nav-btn" class="nav-btn-desktop"><img src="/assets/img/nav-btn.svg" alt="navigation button"></button>
                </div>
                <nav id="nav" class="nav-desktop">
                    <ul id="nav-wrapper">
                        <li class="nav-element"><a href="/">Home</a></li>
                        <li class="nav-element"><a href="/blog">Blog</a></li>
                        <li class="nav-element"><a href="/news">News</a></li>
                        <li class="nav-element"><a href="/activities">Activities</a></li>
                        <li class="nav-element"><a href="/publications">Publications</a></li>
                        <li class="nav-element"><a href="/about-us">About</a></li>
                        <li class="nav-element"><a href="/member">Become a Member</a></li>
                </nav>
            </div>
            
        </div>
    </header>

{% case include.nav_menu %}
    {% when "home" %}
        <script>document.getElementsByClassName("nav-element")[0].classList.add("active");</script>
    {% when "blog" %}
        <script>document.getElementsByClassName("nav-element")[1].classList.add("active");</script>
    {% when "news" %}
        <script>document.getElementsByClassName("nav-element")[2].classList.add("active");</script>
    {% when "activities" %}
        <script>document.getElementsByClassName("nav-element")[3].classList.add("active");</script>
    {% when "publications" %}
        <script>document.getElementsByClassName("nav-element")[4].classList.add("active");</script>
    {% when "about" %}
        <script>document.getElementsByClassName("nav-element")[5].classList.add("active");</script>
    {% when "member" %}
        <script>document.getElementsByClassName("nav-element")[6].classList.add("active");</script>
{% endcase %}
