<script src="/assets/js/home-landing-carousel.js"></script>
<div id="home-landing-carousel-wrapper">
    <div id="home-landing-carousel-img-container">

        <div class="slide-wrapper"><!-- Slide 1-->
            <h1 class="home-carousel-img-text">Science for Society</h1>
            <div class="carousel-img-wrapper"><img class="home-carousel-img" src="/assets/img/home-landing-carousel/1.jpg" alt="Science for Society"></div>
        </div>
        <div class="slide-wrapper"><!-- Slide 2-->
            <h1 class="home-carousel-img-text">Science for Man</h1>
            <div class="carousel-img-wrapper"><img class="home-carousel-img" src="/assets/img/home-landing-carousel/2.jpg" alt="Science for Man"></div>
        </div>
        <div class="slide-wrapper"><!-- Slide 3-->
            <h1 class="home-carousel-img-text">Science in Thinking</h1>
            <div class="carousel-img-wrapper"><img class="home-carousel-img" src="/assets/img/home-landing-carousel/3.jpg" alt="Science in Thinking"></div>
        </div>
    </div>

    <div id="home-landing-carousel-control-container">
        <button id="move-left"><i class="fas fa-chevron-left"></i></button>
        <button id="move-right"><i class="fas fa-chevron-right"></i></button>
        <div id="img-selector">
            <button id="img-selector-btn-1" class="img-selector-btn"><i class="fas fa-circle"></i></button>
            <button id="img-selector-btn-2" class="img-selector-btn"><i class="fas fa-circle"></i></button>
            <button id="img-selector-btn-3" class="img-selector-btn"><i class="fas fa-circle"></i></button>
        </div>
    </div>

</div>