<!--Facebook -->

<div id="fb-page-wrapper">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
    <div id="fb-page" class="fb-page" data-href="https://www.facebook.com/LightOfScience" data-tabs="timeline" data-width="300" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LightOfScience" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LightOfScience">Light of Science</a></blockquote></div>
</div>

<hr class="hr">

<div class="recent-news">
    <h2 class="heading">Recent News</h2>
    <ul class="item-list">
        {%assign news_length = site.news | size%}
        {%for i in (1..5)%}
            {%assign news_index = news_length | minus:i%}
            <li class="list-item"><a href="{{site.news[news_index].url}}">{{site.news[news_index].title}}</a></li>
        {%endfor%}
    </ul>
</div>
<hr>
<div class="recent-blogs">
    <h2 class="heading">Recent Blogs</h2>
    <ul class="item-list">

        {%for i in (0..4)%}
            {%assign blog_index = i%}
            <li class="list-item"><a href="{{site.posts[blog_index].url}}">{{site.posts[blog_index].title}}</a></li>
        {%endfor%}
    </ul>
</div>

