<!--Facebook -->
<div id="fb-page-wrapper">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
    <div id="fb-page" class="fb-page" data-href="https://www.facebook.com/LightOfScience" data-tabs="timeline" data-width="300" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LightOfScience" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LightOfScience">Light of Science</a></blockquote></div>

    <script>
        var fb_page = document.getElementById("fb-page");
        if (screen.width <= 900)
        {
            var width = fb_page.parentElement.clientWidth - 50;
        }
        else
        {
            var width = fb_page.parentElement.clientWidth;
        }
        window.onload = () => {fb_page.setAttribute("width",width);}
    </script>
</div>

<div class="recent-news">
    <h2>Recent News</h2>
    <ul>
        {%assign news_length = site.news | size%}
        {%for i in (1..5)%}
            {%assign news_index = news_length | minus:i%}
            <li><a href="{{site.news[news_index].url}}">{{site.news[news_index].title}}</a></li>
        {%endfor%}
    </ul>
</div>

<div class="recent-blogs">
    <h2>Recent Blogs</h2>
    <ul>
        {%assign blog_length = site.post | size%}
        {%for i in (1..5)%}
            {%assign blog_index = blog_length | minus:i%}
            <li><a href="{{site.posts[blog_index].url}}">{{site.posts[blog_index].title}}</a></li>
        {%endfor%}
    </ul>
</div>

