$sm:500px;
$md:899px;
$lg:900px;
@mixin lg 
{
	@media (min-width:#{$lg})
	{
		@content;
	}
}
@mixin md 
{
	@media (max-width:#{$md})
	{
		@content;
	}
}
@mixin sm 
{
	@media (max-width:#{$sm})
	{
		@content;
	}
}

@font-face{
	font-family:'OrgNameFont';
	src:url('../fonts/LOS_name_font_minified.ttf');
	font-style:normal;
	font-weight:normal;
}
 //////////////////////////////////////////////
html 
{
    @include lg {font-size: 20px;}
    @include md {font-size: 15px;}
    @include sm {font-size: 8px;}
}
body
{
    display: block;
    width: 100%;
    height: 200%;
    background:#ffffff;
    padding:0;
    margin:0;
    text-decoration: none;
    color: #3c3c3c;
    cursor: default;
    scroll-behavior: smooth;
    outline:none!important;
}

button, a {outline:none!important;}
button::-moz-focus-inner, a::-moz-focus-inner {border: 0;}
button:focus, a:focus {outline:none;}
a:visited
{
    color:blue;
}



#header-wrapper
{
    position: sticky;
    z-index: 999;
    box-shadow: 0px 0px 8px 0px #888888;
}

#org-motto
{
    width:calc(100% - 4px);
    padding:2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    background:#00111f;
    color:white;
    font-size: .7rem;
    h2
    {
        padding:0;
        margin:0;
    }
}

#org-logo-name-nav
{
    position: stickey;
    width:calc(100% - 4px);
    padding:2px;
    background: #fff;
    display: inline-flex;
    @include lg { flex-direction: row;}
    @include md { flex-direction: column;}
    @include sm { flex-direction: column;}
    
    align-items: center;
}
#org-container
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#org-logo-container
{
    @include lg {height:60px!important;width:60px!important;}
    @include md {height:40px!important;width:40px!important;}
    @include sm {height:20px!important;width:20px!important;}
    img{height:100%;}
    padding:3px;
    background:white;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
}
#org-name-container
{
    padding:3px;
    h1{
        padding:0; 
        margin:0;
        color:#0073d1;
        font-family: OrgNameFont;
        font-weight: 100;
        }
}

 #nav-btn
{
    padding:0;
    margin:0;
    background:white;
    border:none;
    @include lg {height:60px!important;width:60px!important;}
    @include md {height:40px!important;width:40px!important;}
    @include sm {height:20px!important;width:20px!important;}
    img{height: 100%;}
    transition: transform .1s ease;
}

#nav
{
    .active
    {
        background:red;
        border-radius: 5px;
        a{color:white!important;}
    }
    #nav-wrapper>li:nth-of-type(3)>a::after, #nav-wrapper>li:nth-of-type(4)>a::after, #nav-wrapper>li:nth-of-type(5)>a::after, #nav-wrapper>li:nth-of-type(6)>a::after
    {
        content: " ▼";
    }

}


.nav-btn-desktop
    {
        display: none;
    }
.nav-desktop
{
    @include lg {position: absolute; right: 0px;}
    @include md {position: block;}
    @include sm {position: block;}
    
    

    #nav-wrapper
        {
            padding:3px 10px;
            margin:0;
            display: inline-flex;
            .nav-element
            {
                list-style: none;
                padding: 0 10px;
                display: flex;
                justify-content: center ;
                

                a
                {
                    cursor: pointer;
                    background:none;
                    border:none;
                    padding:2px 5px;
                    font-size: .9rem;
                    text-decoration: none;
                    color:rgb(17, 17, 17);
                }
            }
            .sub-menu
            {
                transform: translateY(-200px);
                transition: transform .5s ease;
                position: absolute;
                top:40px;
                //right:0;
                background: black;
                padding:10px;
                text-align: center;

                .sub-menu-element
                {
                    list-style: none;
                    padding: 5px;
                    a
                    {
                        
                        color:#fff;
                    }
                }
            }

            .nav-element:hover
            {
                background: pink;
                .sub-menu
                {
                    transform: translateY(0px);
                }
            }

        }
}

.nav-btn-mobile
{
    display: block;
    position: absolute;
    right:10px;
    z-index: 999;

}

.nav-show
{
    transform:translateX(0px)!important;
    transition: transform .1s ease-in-out;
}

.nav-hide
{
    transform:translateX(-500px)!important;
    transition: transform .1s ease-in-out;
}
.nav-mobile
{
    position: fixed;
    z-index: 900;
    top:100px;
    right:30px;
    left: 30px;
    background: black;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 0px 12px 4px #888888;
    transform:translateX(-500px);

    #nav-wrapper
    {
        position: relative;
        padding:10px;
        text-align: center;
        .nav-element
        {
            list-style-type: none;
            padding: 10px 2px;
            
            a
            {
                color: #fff;
                text-decoration:none;
                font-size: 2rem;
            }
        }
    }
}


//////////Footer

#footer-bottom
{
    background: black;
    color:#838383;
    font-size: .9rem;
    display: flex;
    justify-content: space-around;
    @include lg {flex-direction:row;}
    @include md {flex-direction:row;}
    @include sm {flex-direction:column;}

    h5
    {
        padding:0;
        margin:0;
    }
}