@charset "utf-8";

@media only screen and (max-width:700px){
	.org-name-responsive
	{
		font-size: 30px;
	}
	.org-motto-responsive
	{
		font-size: 8px;
	}
	
	.heading
	{
		font-size: 20px;
	}
	
	.btn-heading
	{
		font-size: 15px;
	}
}

