@charset "utf-8";
/* CSS Document */

.org-logo
{
	
}
.org-name
{

}


/* Icon Formating */
.icon-white
{
	color:white;
}
.icon-white:hover
{
	color:black;
}


.icon-black
{
	color:black;
}
.icon-black:hover{
	color:white;
}


/*Navigation Bar*/
.nav-item
{
	border-bottom: 5px solid transparent ;
	border-top: 1px solid transparent ;
}
.nav-item:hover
{
	border-bottom: 5px solid #FFFFFF ;
	border-top: 1px solid #FFFFFF ;
}