#about
{
    display: flex;
    @include desktop {flex-direction: row;}
    @include mobile {flex-direction: column;}
    #aboutBSS, #aboutLOS
    {
        flex:1;
        padding:10px;
        margin:5px;
        background:white;
    }

    img
    {
        height: 100px;
        width:auto;
        align-items: center;
    }
    h1
    {
        align-self: center;
        color:brown;
        font-family: 'Fjalla One', sans-serif;
    }
    p
    {
        color:chocolate;
        font-size: 1.03em;
        font-family: 'Josefin Sans', sans-serif;
    }
    .membership
    {
        background: linear-gradient(to bottom, #ffa3a3 50%, #ff2a2a 50% );
        font-size: 2em;
        font-weight: 900;
        padding: 20px 0;
        color:darkblue;
    }
    .membership-LOS-1
    {
        background: linear-gradient(to bottom, #ffc481 50%, #ffa411 50% )!important;
        color:black!important;
    }
    .membership-LOS-2
    {
        background: linear-gradient(to bottom, #82c7ff 50%, #484bfd 50% )!important;
        color:white!important;
    }
}


#objectives
{
    background:white;
    padding:15px 10px;
    margin:5px;
    
    h1
    {
        color:blueviolet;
        font-family: 'Fjalla One', sans-serif;
        text-decoration: underline;
    }
    ul li
    {
        color:darkmagenta;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2em;
        padding: 10px 0;
        list-style:square;
    }
}