@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Fredoka+One|Patrick+Hand|Lato|Fjalla+One|Josefin+Sans');

@font-face{
	font-family:'NiharikaRegular';
	src:url('../fonts/bengali/NiharikaRegular.ttf');
	font-style:normal;
	font-weight:normal;
}
.font-Niharika
{	
	font-family: 'NiharikaRegular'!important;	
}
.font-Abril-Fatface
{
	font-family: 'Abril Fatface', cursive;
}


.font-Comfortaa
{	/* Use for Nav Elements */
	font-family: 'Comfortaa', cursive;
}
.font-Fredoka-One
{
font-family: 'Fredoka One', cursive;
}

.font-Patrik-Hand
{
	font-family: 'Patrick Hand', cursive;
}

.font-Lato
{
	font-family: 'Lato', sans-serif;
}

.font-Fjalla-One
{	/* Use for General Heading */
	font-family: 'Fjalla One', sans-serif;
}

.font-Josefin-Sans
{
	font-family: 'Josefin Sans', sans-serif;
}
