@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Fredoka+One|Patrick+Hand|Lato|Fjalla+One|Josefin+Sans|Roboto|Montserrat');

@font-face{
	font-family:'OrgNameFont';
	src:url('../fonts/LOS_name_font_minified.ttf');
	font-style:normal;
	font-weight:normal;
}

.fontComfortaa
{
    font-family: 'Comfortaa', cursive;
}


@font-face{
	font-family:'Bangla';
	src:url('../fonts/Bangla.ttf');
	font-style:normal;
	font-weight:0;
}

.fontBangla
{
	font-family: 'Bangla';
	font-size:2rem!important;
}