@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Fredoka+One|Patrick+Hand|Lato|Fjalla+One|Josefin+Sans|Roboto|Montserrat');

@font-face{
	font-family:'OrgNameFont';
	src:url('../fonts/LOS_name_font_minified.ttf');
	font-style:normal;
	font-weight:normal;
}

.fontComfortaa
{
    font-family: 'Comfortaa', cursive;
}