// Buttons

//Button 1
.btn1
{
	width:75%;
	height:auto;
	//transition
	transition-property: background-color;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: linear;

	border:solid transparent 5px;
	border-radius:15px;

	background-color: #f94b71//color(btton-bg-solid);
	//background: color(button-bg-gradient);
}
.btn1:hover
{
	background-color: #f8184a//color(btton-bg-solid);
	//background: color(button-bg-gradient);
}

// Button 2
.btn2
{
	width:75%;
	height:auto;
	margin:20px 0;
	border-radius:15px;
	background-color: #21D4FD;
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.btn2:hover
{
	
}

//Button 3
.btn3
{
	width:75%;
	height:auto;
	//transition
	transition-property: background-color;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: linear;

	border:solid transparent 5px;
	border-radius:15px;

	background-color: #2575fc//color(btton-bg-solid);
	//background: color(button-bg-gradient);
}
.btn3:hover
{
	background-color: #5292ff//color(btton-bg-solid);
	//background: color(button-bg-gradient);
}


// Display Property
.d-flex
{
    display:flex;
}
.flex-row
{
	flex-direction: row;
}
.flex-column
{
	flex-direction: column;
}

.d-grid
{
    display:grid;
}

.d-none
{
    display:none!important;
}


// Element Width
.w-100
{
	width:100%;
}


// Margin
.m-0
{
	margin:0;
}
.m-x-0
{
	margin-left:0;
	margin-right:0;
}
.m-y-0
{
	margin-top:0;
	margin-bottom:0;
}
.m-y-10
{
	margin-top:10px;
	margin-bottom:10px;
}
.m-auto
{
	margin:auto;
}


// Padding
.p-0
{
	padding:0;
}
.p-5
{
	padding:5px;
}
.p-10
{
	padding:10px;
}
.p-20
{
	padding:20px;
}


// Flickr Album
.flickr-container
{
	width:100%!important;
	height:auto;
	margin:10px; //need to fix this
	.flickr-link
	{
		.flckr-banner
		{
			width:100%!important;
			height:auto;
		}
	}
}


//Animation
.anim-hvr-lg
{
	transform: scale(1);
	transition: transform 0.2s 0s linear;
}
.anim-hvr-lg:hover
{
	transform: scale(1.03);
}
