#header
{
    @include desktop{background-color: white;}
    @include mobile{background-color: transparent;}
    box-shadow: 1px 1px 5px hsl(0, 0%, 20%);
    //top:0px;
    position: sticky;
    z-index: 999999;
}

#motto
{
    width:100%;
    padding:5px 0px;
    margin:0;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-color:#00111f;
    align-items: center;
    z-index: 999999999;

    .motto-element
    {
        font-size: 1rem;
        padding:5px;
        margin:0;
        width: 100%;
        color:white;
    }
}

.nav-stick
{
    position: fixed;
    top:0;
}
.nav-unstick
{
    position: relative;
}
#nav-bar
{
    width:100%;
    height: auto;
    background: rgb(255, 255, 255);
    display:flex;
    @include desktop{flex-direction: row;}
    @include mobile{flex-direction: column;}
    align-items: center;
    justify-content: space-between;
    color:#0073D1;
    transition: height .3s ease-in-out;

    #org
    {
        @include desktop{width: auto;}
        @include mobile{width: auto;}
        background:white;
        padding: 10px 10px;
        display:flex;
        flex-direction: row;
        align-items: center;
        transition: transform .3s ease-in-out;
        z-index:999;

        #logo-wrapper
        {
            width:65px;

            #logo
            {
                width:100%;
                height:100%;
            }
        }
        #org-name
        {
            padding: 10px;
            margin:0;
            font-size: 2.7rem;
            font-family: 'OrgNameFont'!important;
            font-weight: normal!important;
        }
    }

    .nav-menu-show
    {
        transform:translateY(0%)!important;
        max-height: 100%!important;
    }
    .nav-menu-hide
    {
        transform:translateY(-100%);
        max-height:0;
    }
    #nav-wrapper
    {
        padding:0;
        margin:0;
        transition:transform .2s linear, max-height .2s linear;
        @include mobile {transform:translateY(-100%);max-height:0; overflow: hidden;}
        @include desktop {transform:translateY(0%);}
        z-index: 999;
        #nav
        {
            width:100%;
            padding:0px;
            margin:0;
            display:flex;
            @include desktop{flex-direction: row;}
            @include mobile{flex-direction: column;}
            align-items: center;

            .nav-element-wrapper
            {
                list-style-type: none; 
                padding:0; 
                margin:10px;
                border-top:solid transparent;
                border-bottom:solid transparent;
                border-width: thin;
                transform: scale(.95);
                transition-property:  border-bottom, color, transform;
                transition-duration: 0.3s;
                transition-delay: 0s;
                transition-timing-function: linear;
                text-align: center;
            }
            .active
            {
                font-weight: 700;
                border:solid #0073D1 thin;
                color:#0073D1;
                transform: scale(1.01);
                .nav-element{color:#0073D1;}
            }
            .nav-element
            {
                text-align: center;
                width:100%;
                padding: 10px;
                margin: 0;
                text-decoration: none;
                font-family: 'Comfortaa', cursive;
                @include desktop{font-size: .9rem;}
                @include mobile{font-size: 1.2rem;}
                color:#808080;
                transition-property:  color;
                transition-duration: 0.3s;
                transition-delay: 0s;
                transition-timing-function: linear;
            }
            .nav-element-social
            {
                padding:0;
                margin:1px;
                color:#808080;
                font-size: .7em;
            }
            .nav-element-social:hover {color:#0073D1;}
            .nav-element-wrapper:hover
            {
                //font-weight: 700;
                border-bottom-color:#0073D1;
                color:#0073D1;
                transform: scale(1);
                .nav-element{color:#0073D1;}
            }
        }
    }
}


#menu-icon
{
    @include desktop{display:none;}
    @include mobile{display:block;}
    position: absolute;
    right:0;
    background:none;
    border:none;
}

////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
///////////////////////////////////////////

// NEWSLETTER
#newsletter-wrapper
{
    #newsletter-form
    {
        #newsletter-name
        {

        }
        #newsletter-email
        {

        }
        #newsletter-submit-btn
        {

        }
    }
}

#newsletter-wrapper
{
    background:linear-gradient(90deg, rgba(74,63,255,1) 0%, rgba(87,169,255,1) 42%, rgba(114,255,142,1) 100%);
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
}

#newsletter-form
{
    padding:10px 20px;
    display: flex;
    @include desktop{flex-direction: row;}
    @include mobile{flex-direction:column;}
    justify-content: center;
    align-items: center;

}

#newsletter-heading
{
    font-size: 1.3rem;
}

#newsletter-name, #newsletter-email
{
    font-family: 'Comfortaa', cursive;
    width:400px;
    background: #ffffff54;
    outline: none;
    border: solid 2px transparent;
    border-radius:10px;
    padding:5px;
    margin:2px;
    text-align: center;
    font-size: 1.3rem;
    color: #000;
}

#newsletter-submit-btn
{
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    font-size: 1.1rem;
    font-weight: 700;
    border: solid 2px transparent;
    border-radius:10px;
    padding:5px 10px;
    margin:2px;
    background: #ffffff54;
}

// FOOTER
#footer
{
    width:90%;
    padding:0 5%;
    margin:0;
    background-color:#00111f;
    color:white;
}
#bss-wrapper
{
    //width:100%;
    padding:0;
    margin:0;
}
#bss
{
    width:auto;
    padding-top:10px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;

    h1
    {
        color:white;
        font-size: 1.8rem;
    }

    #bss-logo-wrapper
    {
        width:75px;
        #bss-logo
        {
            width:100%;
        }
    }
}

#social-link
{
    width:100%;
    margin:10px 0;
    display:flex;
    @include desktop{flex-direction: row;}
    @include mobile{flex-direction: column;}
    justify-content: center;
    align-items: center;
    text-align: center;
    h2,ul
    {
        padding:0;
        margin:5px;
        font-size:2rem;
        color:hsl(0, 0%, 70%);
        //@include desktop{font-size:}
        //@include mobile{font-size:}
    }

    .social-element
    {
        color:hsl(0, 0%, 70%);
        font-size:2.5rem;
    }
    .social-fb:hover{color:#3b5998;}
    .social-ms:hover{color:#0078FF;}
    .social-yt:hover{color:#FF0000;}
    .social-ml:hover{color:#F4B400;}
    .social-ph:hover{color:#0F9D58;}
}
#details-bar
{
    margin:10px, 0;
    display:flex;
    @include desktop{flex-direction: row;}
    @include mobile{flex-direction: column;}
    

    #col1,#col2,#col3
    {
        flex:1;
        text-align: center;
        margin:0 10px;
        display: flex;
        flex-direction: column;
        h1
        {
            padding:5px;
            margin:0;
            font-size: 1.5rem;
        }
        p,div
        {
            padding:5px;
            margin:0;
            a,p
            {
                font-size:1rem;
                text-decoration: none;
                color:hsl(0, 0%, 70%);
            }
        }
    }
}

#site-status
{
    padding:5px;
    margin:0;
    background:black;
    display:flex;
    @include desktop{flex-direction: row;}
    @include mobile
    {
        flex-direction: column;
        #col2{order:1;}
        #col3{order:2;}
        #col1{order:3;}
        #col1,#col2,#col3 {margin:10px,0;}
    }
    justify-content: center;
    align-items: center;

    #col1,#col2,#col3
    {
        flex:1;
        color:hsl(0, 0%, 25%);
        text-align:center;

        h5
        {
            margin:2px;
            font-size:1rem;
        }
    }
    #col1 {text-align:left;}
    #col2 h5 {font: size 1.3rem;}
}


//// Back to top button
#back-to-top-btn
{
    display: none;
    margin:0;
    padding:5px;
    background-color: #0073d1dd;
    border: solid #fff 2px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out,  border .3s ease-in-out;
    font-size: 1rem;
    color:white;
    z-index: 999;

    position:fixed;
    bottom:20px;
    right:20px;
}
#back-to-top-btn:hover, #back-to-top-btn:focus
{
    background-color:#ffffff;
    color:#0073D1;
    border: solid #0073D1 2px;
    outline:none;
}

.back-to-top-btn-entrance
{
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: bttBtnEntrance;
}
@keyframes bttBtnEntrance {
    from
    {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to
    {
        opacity: 1;
    }
}
.back-to-top-btn-exit
{
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: bttBtnExit;
}
@keyframes bttBtnExit {
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}