.header
{
    z-index: 999;
    position:sticky;
    width:100%;
    height: auto;
    margin:0px;
    padding:10px;
    background: white;
    //box-shadow: 0 0px 10px #000000c5;
    display:flex;
    @include desktop {flex-direction: row;}
    @include mobile {flex-direction: column;}
    justify-content: space-between;

    .ham-banner-container
    {
        display: flex;
        flex-direction: row;
    }

    #ham 
    {
        @include desktop {display:none;}
        @include mobile {display:block;}
        position: relative;
        min-height: 60px; 
        min-width: 60px;
        padding:5px 0;
    }
    #ham-menu-open 
    {
        z-index: 554;
        position: absolute;
    }
    #ham-menu-close 
    {
        z-index:555;
        position: absolute; 
        visibility: hidden;
        transform: scale(0);
    }
    .ham-menu-icon 
    {
        width:60px; 
        height: 60px;
    }

    .banner
    {
        margin:0;
        padding:0 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        .banner-logo
        {
            max-height: 65px;
            width:auto;
        }

        .banner-text
        {
            margin:0;
            padding:0 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .motto
            {
                font-family: 'Montserrat', sans-serif;
                font-style: bold;
                text-align: center;
                color: color(accent-color);
                @include xl {font-size: 15px;}
                @include lg {font-size: 15px;}
                @include md {font-size: 15px;}
                @include sm {font-size: 15px;}
                @include xs {font-size: 6px;}
            }
            .org-name
            {
                @include xl {font-size: 35px;}
                @include lg {font-size: 35px;}
                @include md {font-size: 35px;}
                @include sm {font-size: 35px;}
                @include xs {font-size: 25px;}
                text-align: center;
                color: color(accent-color);
            }
        }//banner-text
    }//banner-end
    .navmenu
    {
        margin:0;
        padding:0;
        @include desktop {display:block;}
        @include mobile {display:none;}
        
        .nav-element-wrapper
        {
            margin:0;
            //padding:0;
            @include desktop{padding:0;}
            @include mobile{padding:0 30px;}

            display: flex;
            @include desktop {flex-direction: row;}
            @include mobile {flex-direction: column;}
            justify-content: right;

            .nav-element
            {
                margin:10px;
                padding:10px 10px;
                text-align: center;

                border:solid transparent;
                color:grey;
                font-family: "Comfortaa",cursive;
                font-size:0.9em;
                transform: scale(1);
                //transition
                transition-property: border, color, transform;
                transition-duration: 0.3s;
                transition-delay: 0s;
                transition-timing-function: linear;
            }

            .nav-element:hover
            {
                font-weight: 500;
                border-bottom-color:color(accent-color);
                color:color(accent-color);
                transform: scale(1.1);

            }

            //active element
            .active
            {
                font-weight: 1000!important;
                color:color(accent-color);
                border-color: color(accent-color);
                transform:scale(1)!important;
            }
        }
    }//navmenu-end
}//header-end



.hide // Used in hamburger menu icon toggler
{
    z-index: 555!important;
    //transition
    transition-property: visibility, opacity, transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: linear;

    visibility: hidden!important;
    opacity: 0!important;
    transform: scale(0)!important;
}
.show // Used in hamburger menu icon toggler
{
    z-index:554!important;
    //transition
    transition-property: visibility, opacity, transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: linear;

    visibility: visible!important;
    opacity: 100%!important;
    transform: scale(1)!important;
}

.nav-expand //Used in Nav Menu Expansion in Mobile View
{
    display:block!important;
    
}

.nav-contract //Used in Nav Menu Contraction in Mobile View
{
    display:none!important;
}