// NEWSLETTER
#newsletter-wrapper
{
    background:linear-gradient(90deg, rgba(209,132,255,1) 0%, rgba(107,234,255,1) 69%, rgba(0,123,224,1) 100%);

    width:100%;
    padding:0;
    margin:0;
    text-align: center;
}

#newsletter-form
{
    padding:10px 20px;
    display: flex;
    @include desktop{flex-direction: row;}
    @include mobile{flex-direction:column;}
    justify-content: center;
    align-items: center;

}

#newsletter-heading
{
    font-size: 1.3rem;
    margin:0px 10px;
    padding:0;
}

#newsletter-name, #newsletter-email
{
    font-family: 'Comfortaa', cursive;
    width:400px;
    @include mobile{width:90vw;}
    background: #ffffff54;
    outline: none;
    border: solid 2px transparent;
    border-radius:10px;
    padding:5px;
    margin:10px;
    text-align: center;
    font-size: 1.3rem;
    color: #000;

    transition-property:  transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

#newsletter-submit-btn
{
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    font-size: 1.1rem;
    font-weight: 700;
    border: solid 2px transparent;
    border-radius:10px;
    padding:5px 10px;
    margin:10px;
    background: #ffffff54;

    transition-property:  transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

#newsletter-submit-btn:hover,#newsletter-submit-btn:focus,#newsletter-name:hover, #newsletter-email:hover,#newsletter-name:focus, #newsletter-email:focus
{
    transform: scale(1.05);
}