#bottom-main-content .h1-wrapper
{
    text-align: center;
    margin:0 auto;
    width:100%;
    display: flex;
    h1
    {
        margin:0 auto;
        margin-bottom: 20px;
        text-align: center;
        padding:10px;
        background: white;
        box-shadow: 0 0px 10px #000000c5;
    }
}
#new-arrivals-wrap
{
    width:100%;
    height:auto;
    margin:0;
    padding:0;

    h1 
    {
        width:100%;
        padding:10px 50px;
        text-align:center;
    }
}
#books-gallery
{
    width:100%;
    background:rgba(255, 255, 255, 0.52);
    display:flex;
    flex-direction: column;

    .row
    {
        flex:1;
        display: flex;
        @include desktop {flex-direction: row;}
        @include mobile {flex-direction: column;}
        
        .col
        {
            padding: 0;
            margin:0;
            flex: 1;
            display: flex;
            .cell
            {
                @include desktop {margin:20px; }
                @include mobile {margin:5px;}
                background:white;
                flex:1;
                padding: 0px;
                text-align: center;
                transition: all .5s;
                transform: scale(.95);
                box-shadow: 0 0px 10px #000000c5;
                overflow-x: hidden;
                .book-cover
                {
                    width:100%;
                    @include desktop {max-width:25vw;}
                    @include mobile {max-width:50vw;}
                    height:auto;    
                }
                .book-content
                {
                    @include desktop {font-size:10px;}
                    @include mobile {font-size:5px;}
                    h1 {font-size:3.5em;}
                    h3 {font-size:1.5em;}
                    h5 {font-size:1.3em}
                    a button, a button h3 {font-size:1.2em;}
                }
            }
            .cell:hover, .cell:focus
            {
                transform: scale(.99);
                .book-cover
                {
                    filter:blur(2px);
                }
            }
        }
    }
}

.book-content
{
    width: 75%;
    height: 100%;
    background-color: black;
    color:white;   
    opacity:0;
    padding:10px;
    
    position: absolute;
    top:0;

    left:100%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    transition: left .3s, opacity .3s;
}

.slide-in
{
    left:0!important;
    opacity:1;
}

.slide-out
{
    left:100%!important;
    opacity:0;
}

.cell03, .cell04
{
    display:block;
    img
    {
        clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
        float: left;
        shape-outside: polygon(100% 0%, 0% 100%, 0% 0%);
        clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
        background-color:yellow;
        
    }

    h2 
    {
        background-color:#2575fc;
        padding:20px;
        margin:0;
        height:100%;
        a
        {
            text-align:left;
            text-decoration: none;
            color:white;
            word-wrap: break-word;
            overflow-wrap:break-word;
            word-break: break-all;
            hyphens: auto;
            line-height: 200%;

        }
    }
    h2:hover
    {
        background-color: #5090ff;
    }
}


//#########################################################
//#########################################################
// BREAKTHROUGH - CATALOG - PAGE

#volume-in-year-group
{
    width:100%;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    flex:1;
    .year
    {
        width:100%;
        text-align: left;
    }
    .row
    {
        width:100%;
        display: flex;
        flex:1;
        @include desktop {flex-direction: row;}
        @include mobile {flex-direction: column;}
        .column
        {
            width:100%;
            margin:0;
            padding:0;
            display: flex;
            flex-direction: row;
            flex:1;
            .cell
            {
                @include desktop {margin:20px; }
                @include mobile {margin:5px;}
                background:white;
                padding: 0px;
                margin:5px;
                text-align: center;
                transition: all .5s;
                transform: scale(.95);
                box-shadow: 0 0px 10px #000000c5;
                overflow-x: hidden;
                .book-cover
                {
                    width:100%;
                    @include desktop {max-width:25vw;}
                    @include mobile {max-width:50vw;}
                    height:auto; 
                    z-index: 998;   
                }
                .book-content
                {
                    @include desktop {font-size:10px;}
                    @include mobile {font-size:5px;}
                    h1 {font-size:3.5em;}
                    h3 {font-size:1.5em;}
                    h5 {font-size:1.3em}
                    a button, a button h3 {font-size:1.2em;}
                }
            }
            .cell:hover, .cell:focus
            {
                transform: scale(.99);
                .book-cover
                {
                    filter:blur(2px);
                }
            }
        }
    }
}


//#########################################################
//#########################################################