#bottom-main-content .h1-wrapper
{
    text-align: center;
    margin:0 auto;
    width:100%;
    display: flex;
    h1
    {
        margin:0 auto;
        margin-bottom: 20px;
        text-align: center;
        padding:10px;
        background: white;
        box-shadow: 0 0px 10px #000000c5;
    }
}
#new-arrivals-wrap
{
    background:white;
    width:100%;
    h1
    {
        text-align: center;
    }
    #new-arrivals
    {
        width:100%;
        display: flex;
        flex-direction: row;
        .col
        {
            flex:1;
            display:flex;
            //@include desktop {flex-direction: row;}
            //@include mobile {flex-direction: column;}
            transform: scale(0.8);
            margin:0 auto;
            text-align: center;
            max-height:400px;
            img
            {
                height:100%;
                @include desktop {max-width:100%;}
                @include mobile {max-width:100%;}
            }
            .book-details
            {
                margin:0 10px;
                h1, h2, h3, p
                {
                    text-align: left;
                    color:#7c7c7c;
                }
            }

        }
    }
}
#books-gallery
{
    width:100%;
    background:rgba(255, 255, 255, 0.52);
    display:flex;
    flex-direction: column;

    .row0,.row1,.row2,.row3,.row4, .row5
    {
        flex:1;
        display: flex;
        @include desktop {flex-direction: row;}
        @include mobile {flex-direction: column;}
        .col1, .col2
        {
            flex: 1;
            display: flex;
            .cell
            {
                background:white;
                flex:1;
                padding: 5px;
                margin:0 auto;
                text-align: center;
                transition: all .5s;
                transform: scale(.9);
                box-shadow: 0 0px 10px #000000c5;
                overflow-x: hidden;
                img
                {
                    @include desktop
                    {
                        width:20vw;
                    }
                    @include mobile
                    {
                        width:40vw;
                    }
                    
                    height:auto;
                }
            }
            .cell:hover, .cell:focus
            {
                transform: scale(.99);
            }
        }
    }
}

.book-content
{
    width: 75%;
    height: 100%;
    background-color: black;
    color:white;   
    opacity:0;
    padding:10px;
    
    position: absolute;
    top:0;

    left:100%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    transition: left .3s, opacity .3s;
}

.slide-in
{
    left:0!important;
    opacity:1;
}

.slide-out
{
    left:100%!important;
    opacity:0;
}

.cell03, .cell04
{
    display:block;
    img
    {
        clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
        float: left;
        shape-outside: polygon(100% 0%, 0% 100%, 0% 0%);
        clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
        background-color:yellow;
        
    }

    h2 
    {
        background-color:#2575fc;
        padding:20px;
        margin:0;
        height:100%;
        a
        {
            text-align:left;
            text-decoration: none;
            color:white;
            word-wrap: break-word;
            overflow-wrap:break-word;
            word-break: break-all;
            hyphens: auto;
            line-height: 200%;

        }
    }
    h2:hover
    {
        background-color: #5090ff;
    }
}