/* External Imports -START*/
@import "animate";
@import "hover";
@import "custom_fonts";
@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";
/* External Imports -END */

/* Color Variables - START */
$color: 
(
	nav-bg:#0071CE,
	intro-bg:rgba(46, 161, 255, 0.5),
	nav-text:#ffffff,
	nav-text-inactive:#ffffff96,
	nav-text-active:#ffffff,
	nav-text-hover:#000000,
);
/* Color Variables - END */

@function color($color-name)
{
	@return map-get($color, $color-name);
}

$desktop:872px;
$mobile:871px;
@mixin desktop 
{
	@media (min-width:#{$desktop})
	{
		@content;
	}
}
@mixin mobile 
{
	@media (max-width:#{$mobile})
	{
		@content;
	}
}

/* Global Tags */
*, *:before, *:after 
{
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html 
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	width:100%!Important;
	height:100%;
	margin:0;
	padding:0;
	background:white;
}
hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 70%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #ffffff;
 }

.parallax-window {
	min-height: 250px;
	padding:100px 30%;
	background: transparent;
	
	.parallax-content
	{
		z-index:10;
		position: relative;
		font-weight: 5px;
		padding:20px;

		/* Backgkground Gradient ANimated -START */
		background: linear-gradient(270deg, #35eeffa1, #b8ffab9d, #fcff3fab);
		background-size: 600% 600%;
		
		-webkit-animation: ParallaxAnimation 20s ease infinite;
		-moz-animation: ParallaxAnimation 20s ease infinite;
		animation: ParallaxAnimation 20s ease infinite;
		
		@-webkit-keyframes ParallaxAnimation {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		@-moz-keyframes ParallaxAnimation {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		@keyframes ParallaxAnimation {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		/* Backgkground Gradient ANimated -END */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774)
	}
}
 /* Global Tags */

/* Header - START */
header
{
	z-index: 999;
	position: sticky;
	top:0;
	width:100%;
	padding: 10px 10px 10px 10px;
	background-color: color(nav-bg);
	box-shadow: 0 0px 10px #000000c5;
	color:color(nav-text);
	display:flex;
	flex-wrap: wrap;
	
	@include desktop
	{
		grid-template-columns: 0 50% 50%;
		/* Background Color Gradient*/
		background: rgb(0,113,206);
		background: -moz-linear-gradient(90deg, rgba(0,113,206,1) 0%, rgba(0,113,206,1) 40%, rgba(0,113,206,0.7007003484987745) 100%);
		background: -webkit-linear-gradient(90deg, rgba(0,113,206,1) 0%, rgba(0,113,206,1) 40%, rgba(0,113,206,0.7007003484987745) 100%);
		background: linear-gradient(90deg, rgba(0,113,206,1) 0%, rgba(0,113,206,1) 40%, rgba(0,113,206,0.7007003484987745) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0071ce",endColorstr="#0071ce",GradientType=1); 	/**/
		/* Background Color Gradient*/
	}
	@include mobile
	{
		background:color(nav-bg);
		grid-template-columns: 50px auto;
	}

	a
	{
		text-decoration: none;
	}
	/* Light Of Science Banner - START */
	.banner
	{
		flex:1;
		display: flex;
		text-align: center;
		align-items: center;
		.banner-logo
		{
			@include desktop
			{
				height:60px;
				width:60px;
			}
			@include mobile
			{
				height:50px;
				width:50px;
			}
		}
		.banner-text
		{ 
			color: color(nav-text);
			margin: 0 auto 0 0;
		}

		@include desktop
		{
			line-height: 1.5em;
		}
		@include mobile
		{
			margin:0 auto;
			line-height: 1em;
		}

		.org-name
		{
			@include desktop
			{
				line-height: 1em;
				font-size: 40px;
			}
			@include mobile
			{
				line-height: 1em;
				font-size: 20px;
			}
		}
		.org-motto
		{
			@include desktop
			{
				font-size: 12px;
			}
			@include mobile
			{
				font-size: 10px;
			}
		}
	}
	/* Light Of Science Banner -END */

	/* Nav Toggle Button - START */
	#btn-toggleNav
	{
		cursor: pointer;
		@include desktop
		{
			flex:0;
			visibility:hidden;
		}
		@include mobile
		{
			flex:0.5;
			visibility:visible;
		}
	}
	/* Nav Toggle Button - END */
	/* Light Of Science Navigation Menu - START */
	.navmenu
	{
		flex:1.5;
		margin:0;
		visibility: visible;
		@include desktop
		{
			visibility: visible;
		}
		@include mobile
		{
			flex:0;
			flex-basis: 100%;
			align-self: middle;
			height:0px;
			visibility: hidden;
			opacity:0;
			transition: all 0.2s ease-in-out;
		}
	}
	li
	{
		list-style-type: none;
	}
	.nav-element-wrapper
	{	
		display: flex;
		text-align: center;
		padding:0;
		@include desktop
		{
			flex-direction: row;
			justify-content: right;
		}
		@include mobile
		{
			flex-direction: column;
			justify-content: center;
		}

		.nav-element a
		{
			color:color(nav-text-inactive);
			font-family: Adhunik;
			font-size:17px;
			text-align:center;
			
		}
		.active a
		{
			color:color(nav-text-active);
		}
		.nav-element
		{
			border-bottom: 5px solid transparent ;
			border-top: 1px solid transparent ;
			//flex:1;
			margin:0 5px;
			padding:5px 5px;
		}
		.nav-element:hover
		{

			border-bottom: 5px solid #FFFFFF ;
			border-top: 1px solid #FFFFFF ;
		}
		.nav-element-icon a:hover
		{
			color:color(nav-text-hover);
		}
	}
	/* Light Of Science Navigation Menu - END */
}
/* Header - END */

/* Footer - START */
.footer-container
{
	width:100%;
	@include mobile
	{
		height:2000px;
	}
	@include desktop
	{
		height:700px;
	}
	overflow:hidden;
	z-index:1;
	margin:0;
	padding:0;
	position:relative;

	.footer-wrapper
	{
		width:100%;
		height:100%;
		/*background image */
		background-image:url('../images/footer_background.jpg');
		background-repeat:repeat;
		opacity:0.2;
		/*background image */
	}
	footer
	{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		padding:50px 150px;
		background-color:#ffffffaf;

		.BSSlink
		{
			display:grid;
			grid-template-columns: 25% 75%;
			text-align:center;
			justify-items: center;
			.BSSLogo
			{
				text-align: right;
				margin:10px;

			}
			.BSSText
			{
				text-align:center;
				
				word-wrap: break-word;
				a
				{
					color:black;
				}
				a:hover
				{
					text-decoration: underline;
				}
			}
		}

		.footer-social-link
		{
			text-align:center;
			.footer-social-link-icon
			{
				color:black;
				padding:0 10px;
				margin:10px 20px;
			}
			.footer-social-link-icon:hover
			{
				color:rgb(98, 98, 98);
			}

		}

		.footer-column-container
		{
			display:grid;
			@include desktop
			{
			grid-template-columns: repeat(3,1fr);
			}
			@include mobile
			{
			grid-template-columns: repeat(1,1fr);
			}
			.footer-column h1
			{
				text-align: center!Important;
				
			}
			.footer-column1
			{
				@include desktop
				{
					text-align:left;
				}
				@include mobile
				{
					text-align:center;
				}
				p
				{
					font-size:20px;
				}
				
			}
			.footer-column2
			{
				@include desktop
				{
					text-align:center;
				}
				@include mobile
				{
					text-align:center;
				}
				ul a
				{
					font-size:20px;
					color:black;
					word-wrap: break-word;
				}
				ul a:hover
				{
					text-decoration: underline;
				}
			}
			.footer-column3
			{
				@include desktop
				{
					text-align:right;
				}
				@include mobile
				{
					text-align:center;
				}
				p
				{
					font-size:20px;
				}
			}
		}
	}

}
/* Footer - END */

/*Footer Credits - START*/
.footer-credits
{
	z-index: 999;
	width:100%;
	padding:5px;
	background-color:black;
	display:inline-grid;
	grid-template-columns: repeat(3,1fr);
	.web-ver, .github-repo, .credit
	{
		padding:0;
		margin:0;
		color:white;
		text-align: center;
		font-size: 15px;
	}
}
/*Footer Credits - END*/

/*Content - START */
#content
{
	width:100%;
	height:auto;
	//box-shadow: 0 0 5px #000000c5;
	#homeVideo
	{
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height:100vh;
		overflow: hidden;
		z-index:-1;

		#Video
		{
			min-width:100%;
			min-height:100%;
		}
	}
	.intro
	{
	
		width:100%;
		@include desktop
		{
			height:80vh;
		}
		@include mobile
		{
			height:48vh;
		}
		display:flex;
		z-index:10;
		overflow: hidden;
			
		.welcome-banner
		{
		//-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		//clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		/* Background Color Animation */
		background: linear-gradient(270deg, #0044ff,#2ea1ff );
		background-size: 800% 800%;
			
		-webkit-animation: welcomebannerbackground 20s ease infinite;
		-moz-animation: welcomebannerbackground 20s ease infinite;
		-o-animation: welcomebannerbackground 20s ease infinite;
		animation: welcomebannerbackground 20s ease infinite;
		
		@-webkit-keyframes welcomebannerbackground {
			0%{background-position:0% 53%}
			50%{background-position:100% 48%}
			100%{background-position:0% 53%}
			}
			@-moz-keyframes welcomebannerbackground {
				0%{background-position:0% 53%}
				50%{background-position:100% 48%}
				100%{background-position:0% 53%}
			}
			@-o-keyframes welcomebannerbackground {
				0%{background-position:0% 53%}
				50%{background-position:100% 48%}
				100%{background-position:0% 53%}
			}
			@keyframes welcomebannerbackground {
				0%{background-position:0% 53%}
				50%{background-position:100% 48%}
				100%{background-position:0% 53%}
			}
			/* Background Color Animation */
			opacity:0.5;
			
			@include desktop
			{
				width:60%;
				height:100%;
			}
			@include mobile
			{
				width:100%;
				height:100%;
			}
			float:left;
			display:table;
			
			h1
			{
				color: white;
				font-size:5.5vw;
				width:100%;
				vertical-align:middle;
				text-overflow: ellipsis;
			}
			p
			{
				width:55%;
				padding:10px;
				color:rgba(255, 255, 255, 0.800);
				font-size:20px;
				@include mobile
				{
					font-size:15px;
				}
			}
		}
		/* NASA Daily Image API - START */
		#NASA
		{
			@include desktop
			{
				width:70%;
				height: 100%;
			}
			@include mobile
			{
				width:100%;
				height: 100%;
			}
			overflow:hidden;
			flex:right;
			-webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
			background-color:white;
			text-align: right;
			overflow: hidden;
			position: relative;

			.NASAimg
			{
				width:100%;
				height:100%;
			}
			.NASAimgTitle
			{
				color:white;
				width:40vw;
				position:absolute;
				right: 10px;
				top: 10px;
				font-size:3vw;
			}
			.NASAimgHD
			{
				color:white;
				width:40vw;
				position:absolute;
				right: 10px;
				top: 0px;
				font-size:10px;
			}
			.btn-intro
			{
				width:200px;
				height: 40px;
				position:absolute;
				left: -10px;
				bottom: 0px;
				padding:0;
				margin:0;
				border:none;
				cursor: pointer;
				background-color:rgba(255, 255, 255, 0.417);
				color:white;
				transition: all 0.2s ease-in-out;
			}
			.btn-intro:hover
			{
				width:250px;
				transition: all 0.2s ease-in-out;
				height: 40px;
				position:absolute;
				left: -10px;
				bottom: 0px;
				padding:0;
				margin:0;
				border:none;
				cursor: pointer;
				background-color:rgba(255, 255, 255, 0.417);
				color:white;
			}
			.NASAimgDescription
			{
				visibility:hidden;
				color:white;
				width:40vw;
				position:absolute;
				bottom: 30px;
				right: 10px;
				float:left;
				margin:0;
				padding:5px;
				font-size:15px;
				@include mobile
				{
					font-size:8px;
					overflow:scroll;
				}
			}
			.NASAimgCopyright
			{
				width:auto;
				color:white;
				position:absolute;
				bottom: 0px;
				right: 10px;
				float:right;
				margin:0;
				padding:0;
			}

		}
		/* NASA Daily Image API - END */
	} /* Intro -END */

	.video-bg
		{
			width:150%;
			z-index:1;
			padding:0;
			margin:0;
			#video-container-wide
			{
				position: absolute;
				width: 100%;
				height:500px;
				overflow: hidden;
				padding:0;
				#video-back-wide
				{
					min-width:100%;
					min-height:100%;
				}
			}
			h1
			{
				padding:0; 
				margin:0;
			  	color:red;
			}
		}

	.badge-header
	{
		width:100%;
		height:auto;
		//display:table;
		
		h1
		{	
			//display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}

	/* Main Content - START*/
	#main-content-wrapper
	{
		z-index: 10;
		width:100%;
		height:auto;
		padding: 50px 20px;
		margin:0 auto;
		background:#c8c8c859;
		/**
		background: linear-gradient(270deg, #c8c8c880, #c3c3c328);
		background-size: 400% 400%;
		
		-webkit-animation: AnimationName 30s ease infinite;
		-moz-animation: AnimationName 30s ease infinite;
		animation: AnimationName 30s ease infinite;
		
		@-webkit-keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		@-moz-keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		@keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		/**/

		#top-main-content
		{
			width:100%;
			height:auto;
			display:grid;
			grid-template-columns: 25% 75%;
			@include mobile
			{grid-template-columns: 100%;}

			.highlights
			{
				margin:10px;
				padding:10px;
				height:500px;
				background:white;
				box-shadow: 0 0px 10px #000000c5;
			}
			.carousel
			{
				margin:10px;
				padding:0px;
				height:500px;
				background:transparent;
				box-shadow: 0 0px 10px #000000c5;
			}
		}

		#bottom-main-content
		{
			width:100%;
			height:auto;
			padding: 50px 10px 10px 10px;
			.card
			{
				width:100%;
				padding:10px;
				margin: 10px 0;
				background:white;
				min-height: 200px;
				box-shadow: 0 0px 10px #000000c5;
				//position:sticky;
				//top:150px;
			}
		}
	}
	/* Main Content - END*/
}
/*Content - END */


  

/* Back to Top -START*/
.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
	background-color: transparent;
	color: rgba(0, 113, 206, 0.500);
	width: 100px;
	height:85px;
	line-height: 50px;
	right: 0px;
	bottom: 0px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	color: rgb(255, 85, 0);
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
/* Back to Top -END*/