/* External Imports -START*/
@import "custom_fonts.css";
@import "hover.css";
/* External Imports -END */
/* Color Variables - START */
/* Color Variables - END */
/* Global Tags */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  z-index: -1;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 70%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

.parallax-window {
  min-height: 250px;
  padding: 100px 30%;
  background: transparent;
}
.parallax-window .parallax-content {
  z-index: 10;
  position: relative;
  font-weight: 5px;
  padding: 20px;
  /* Backgkground Gradient ANimated -START */
  background: linear-gradient(270deg, #35eeffa1, #b8ffab9d, #fcff3fab);
  background-size: 600% 600%;
  -webkit-animation: ParallaxAnimation 20s ease infinite;
  -moz-animation: ParallaxAnimation 20s ease infinite;
  animation: ParallaxAnimation 20s ease infinite;
  /* Backgkground Gradient ANimated -END */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774);
}
@-webkit-keyframes ParallaxAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes ParallaxAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes ParallaxAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Global Tags */
/* Header - START */
header {
  z-index: 999;
  position: relative;
  width: 100%;
  padding: 10px 10px 10px 10px;
  background-color: #0071CE;
  color: #ffffff;
  display: grid;
  /* Light Of Science Banner - START */
  /* Light Of Science Banner -END */
  /* Nav Toggle Button - START */
  /* Nav Toggle Button - END */
  /* Light Of Science Navigation Menu - START */
  /* Light Of Science Navigation Menu - END */
}
@media (min-width: 872px) {
  header {
    grid-template-columns: 0 50% 50%;
  }
}
@media (max-width: 871px) {
  header {
    grid-template-columns: 50px auto;
  }
}
header .banner {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 100px auto;
  text-align: center;
}
@media (min-width: 872px) {
  header .banner .banner-logo {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 871px) {
  header .banner .banner-logo {
    height: 60px;
    width: 60px;
  }
}
header .banner .banner-text {
  color: #ffffff;
  margin: 0 auto 0 0;
}
@media (min-width: 872px) {
  header .banner {
    line-height: 2.5em;
  }
}
@media (max-width: 871px) {
  header .banner {
    margin: 0 auto;
    line-height: 1.5em;
  }
}
@media (min-width: 872px) {
  header .banner .org-name {
    font-size: 40px;
  }
}
@media (max-width: 871px) {
  header .banner .org-name {
    font-size: 20px;
  }
}
@media (min-width: 872px) {
  header .banner .org-motto {
    font-size: 12px;
  }
}
@media (max-width: 871px) {
  header .banner .org-motto {
    font-size: 10px;
  }
}
header #btn-toggleNav {
  grid-column-start: 1;
  grid-column-end: 2;
  cursor: pointer;
}
@media (min-width: 872px) {
  header #btn-toggleNav {
    visibility: hidden;
  }
}
@media (max-width: 871px) {
  header #btn-toggleNav {
    visibility: visible;
  }
}
header .navmenu {
  margin: 0;
  visibility: visible;
}
@media (min-width: 872px) {
  header .navmenu {
    visibility: visible;
  }
}
@media (max-width: 871px) {
  header .navmenu {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
}
header li {
  list-style-type: none;
}
header .nav-element-wrapper {
  display: grid;
  text-align: center;
  padding: 0;
}
@media (min-width: 872px) {
  header .nav-element-wrapper {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 871px) {
  header .nav-element-wrapper {
    grid-template-columns: 100%;
  }
}
header .nav-element-wrapper .nav-element a {
  color: #ffffff96;
  font-family: Adhunik;
  font-size: 17px;
  text-align: center;
  padding: 0 5px 0 5px;
}
header .nav-element-wrapper .active a {
  color: #ffffff;
}
header .nav-element-wrapper .nav-element {
  border-bottom: 5px solid transparent;
  border-top: 1px solid transparent;
}
header .nav-element-wrapper .nav-element:hover {
  border-bottom: 5px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
}
header .nav-element-wrapper .nav-element-icon a:hover {
  color: #000000;
}

/* Header - END */
/* Footer - START */
.footer-container {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: relative;
}
@media (max-width: 871px) {
  .footer-container {
    height: 2000px;
  }
}
@media (min-width: 872px) {
  .footer-container {
    height: 700px;
  }
}
.footer-container .footer-wrapper {
  width: 100%;
  height: 100%;
  /*background image */
  background-image: url("../images/footer_background.jpg");
  background-repeat: repeat;
  opacity: 0.2;
  /*background image */
}
.footer-container footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 150px;
  background-color: #ffffffaf;
}
.footer-container footer .BSSlink {
  display: grid;
  grid-template-columns: 25% 75%;
  text-align: center;
  justify-items: center;
}
.footer-container footer .BSSlink .BSSLogo {
  text-align: right;
  margin: 10px;
}
.footer-container footer .BSSlink .BSSText {
  text-align: center;
  word-wrap: break-word;
}
.footer-container footer .BSSlink .BSSText a {
  color: black;
}
.footer-container footer .BSSlink .BSSText a:hover {
  text-decoration: underline;
}
.footer-container footer .footer-social-link {
  text-align: center;
}
.footer-container footer .footer-social-link .footer-social-link-icon {
  color: black;
  padding: 0 10px;
  margin: 10px 20px;
}
.footer-container footer .footer-social-link .footer-social-link-icon:hover {
  color: #626262;
}
.footer-container footer .footer-column-container {
  display: grid;
}
@media (min-width: 872px) {
  .footer-container footer .footer-column-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 871px) {
  .footer-container footer .footer-column-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer-container footer .footer-column-container .footer-column h1 {
  text-align: center !important;
}
@media (min-width: 872px) {
  .footer-container footer .footer-column-container .footer-column1 {
    text-align: left;
  }
}
@media (max-width: 871px) {
  .footer-container footer .footer-column-container .footer-column1 {
    text-align: center;
  }
}
.footer-container footer .footer-column-container .footer-column1 p {
  font-size: 20px;
}
@media (min-width: 872px) {
  .footer-container footer .footer-column-container .footer-column2 {
    text-align: center;
  }
}
@media (max-width: 871px) {
  .footer-container footer .footer-column-container .footer-column2 {
    text-align: center;
  }
}
.footer-container footer .footer-column-container .footer-column2 ul a {
  font-size: 20px;
  color: black;
  word-wrap: break-word;
}
.footer-container footer .footer-column-container .footer-column2 ul a:hover {
  text-decoration: underline;
}
@media (min-width: 872px) {
  .footer-container footer .footer-column-container .footer-column3 {
    text-align: right;
  }
}
@media (max-width: 871px) {
  .footer-container footer .footer-column-container .footer-column3 {
    text-align: center;
  }
}
.footer-container footer .footer-column-container .footer-column3 p {
  font-size: 20px;
}

/* Footer - END */
/*Footer Credits - START*/
.footer-credits {
  z-index: 999;
  width: 100%;
  padding: 5px;
  background-color: black;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-credits .web-ver, .footer-credits .github-repo, .footer-credits .credit {
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 15px;
}

/*Footer Credits - END*/
/*Content - START */
#content {
  width: 100%;
  height: auto;
  /* Intro -END */
  /* Main Content - START*/
  /* Main Content - END*/
}
#content #homeVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
#content #homeVideo #Video {
  min-width: 100%;
  min-height: 100%;
}
#content #intro {
  width: 100%;
  display: flex;
  z-index: 10;
  overflow: hidden;
  /* NASA Daily Image API - START */
  /* NASA Daily Image API - END */
}
@media (min-width: 872px) {
  #content #intro {
    height: 80vh;
  }
}
@media (max-width: 871px) {
  #content #intro {
    height: 50vh;
  }
}
#content #intro .welcome-banner {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  /* Background Color Animation */
  background: linear-gradient(270deg, #0044ff, #2ea1ff);
  background-size: 800% 800%;
  -webkit-animation: welcomebannerbackground 20s ease infinite;
  -moz-animation: welcomebannerbackground 20s ease infinite;
  -o-animation: welcomebannerbackground 20s ease infinite;
  animation: welcomebannerbackground 20s ease infinite;
  /* Background Color Animation */
  opacity: 0.5;
  float: left;
  display: table;
}
@-webkit-keyframes welcomebannerbackground {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-moz-keyframes welcomebannerbackground {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-o-keyframes welcomebannerbackground {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@keyframes welcomebannerbackground {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@media (min-width: 872px) {
  #content #intro .welcome-banner {
    width: 60%;
    height: 100%;
  }
}
@media (max-width: 871px) {
  #content #intro .welcome-banner {
    width: 100%;
    height: 100%;
  }
}
#content #intro .welcome-banner h1 {
  color: white;
  font-size: 5.5vw;
  width: 100%;
  vertical-align: middle;
  text-overflow: ellipsis;
}
#content #intro .welcome-banner p {
  width: 55%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}
@media (max-width: 871px) {
  #content #intro .welcome-banner p {
    font-size: 15px;
  }
}
#content #intro #NASA {
  overflow: hidden;
  flex: right;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  background-color: white;
  text-align: right;
  overflow: hidden;
  position: relative;
}
@media (min-width: 872px) {
  #content #intro #NASA {
    width: 70%;
    height: 100%;
  }
}
@media (max-width: 871px) {
  #content #intro #NASA {
    width: 100%;
    height: 100%;
  }
}
#content #intro #NASA .NASAimg {
  width: 100%;
  height: 100%;
}
#content #intro #NASA .NASAimgTitle {
  color: white;
  width: 40vw;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 3vw;
}
#content #intro #NASA .btn-intro {
  width: 200px;
  height: 40px;
  position: absolute;
  left: -10px;
  bottom: 0px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.417);
  color: white;
  transition: all 0.2s ease-in-out;
}
#content #intro #NASA .btn-intro:hover {
  width: 250px;
  transition: all 0.2s ease-in-out;
  height: 40px;
  position: absolute;
  left: -10px;
  bottom: 0px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.417);
  color: white;
}
#content #intro #NASA .NASAimgDescription {
  visibility: hidden;
  color: white;
  width: 40vw;
  position: absolute;
  bottom: 30px;
  right: 10px;
  float: left;
  margin: 0;
  padding: 5px;
  font-size: 15px;
}
@media (max-width: 871px) {
  #content #intro #NASA .NASAimgDescription {
    font-size: 8px;
    overflow: scroll;
  }
}
#content #intro #NASA .NASAimgCopyright {
  width: auto;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 10px;
  float: right;
  margin: 0;
  padding: 0;
}
#content .video-bg {
  width: 150%;
  z-index: 1;
  padding: 0;
  margin: 0;
}
#content .video-bg #video-container-wide {
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding: 0;
}
#content .video-bg #video-container-wide #video-back-wide {
  min-width: 100%;
  min-height: 100%;
}
#content .video-bg h1 {
  padding: 0;
  margin: 0;
  color: red;
}
#content .badge-header {
  width: 100%;
  height: auto;
}
#content .badge-header h1 {
  text-align: center;
  vertical-align: middle;
}
#content #main-content-wrapper {
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
  background: rgba(200, 200, 200, 0.5);
}
#content #main-content-wrapper #top-main-content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media (max-width: 871px) {
  #content #main-content-wrapper #top-main-content {
    grid-template-columns: 100%;
  }
}
#content #main-content-wrapper #top-main-content .highlights {
  margin: 10px;
  padding: 10px;
  height: 500px;
  background: white;
  box-shadow: 0 0px 10px #000000c5;
}
#content #main-content-wrapper #top-main-content .highlights:hover {
  box-shadow: 0 0px 30px #000000c5;
}
#content #main-content-wrapper #top-main-content .carousel {
  margin: 10px;
  padding: 0px;
  height: 500px;
  background: transparent;
  box-shadow: 0 0px 10px #000000c5;
}
#content #main-content-wrapper #bottom-main-content {
  width: 100%;
  height: auto;
  padding: 50px 10px 10px 10px;
}
#content #main-content-wrapper #bottom-main-content .card {
  width: 95%;
  padding: 10px;
  margin: 10px 2.5%;
  background: white;
  min-height: 200px;
}

/*Content - END */
/* Back to Top -START*/
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: transparent;
  color: rgba(0, 113, 206, 0.5);
  width: 100px;
  height: 85px;
  line-height: 50px;
  right: 0px;
  bottom: 0px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
  color: #ff5500;
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/* Back to Top -END*/

/*# sourceMappingURL=global_style.css.map */
