//////////////////////////////////////////////////////////
/////////////////////////////
/////////////////////////////
/////////////////////////////

#home-landing-carousel-wrapper
{
    width:100%;
    height:auto;
    padding:0;
    margin:0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
}

#home-landing-carousel-img-container
{
    width:100%;
    height:auto;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    z-index: -1;
    position: relative;
    left:-00px;
    transition:transform 1s cubic-bezier(.5, 1.1, .1, .5);

    .slide-wrapper
    {
        width: 100%;
        height:auto;
        padding:0;
        margin:0;

        .carousel-img-wrapper
        {
            width:100vw;
            height: auto;
            overflow-y: hidden;
            padding:0;
            margin:0;
            .home-carousel-img
            {
               width:100%;
               height: auto;
            }
        }

        .home-carousel-img-text
        {
            display: none;
            width:100%;
            padding:0;
            margin:0;
            //position: absolute;
            //bottom:0;
        }
    }
}


/////////////////////////////
/////////////////////////////
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
/////////////////////////////
/////////////////////////////
/////////////////////////////

#home-landing-carousel-control-container
{
    width:100%;
    padding:0;
    margin:0;

    #move-left, #move-right
    {
        background:none;
        border:none;
        padding: 50px 20px;
        padding-right: 10px;

    }
    #move-left:focus, #move-right:focus
    {
        outline:none;
    }
    #move-left:hover, #move-right:hover
    {
        background-color:rgba(255, 255, 255, 0.1);
    }

    #move-left
    {
        position: absolute;
        left:10px;
        color:white;
        font-size:2rem;
    }
    #move-right
    {
        position: absolute;
        right:10px;
        color:white;
        font-size:2rem;
    }
}

#img-selector
{
    width:100%;
    padding:0;
    margin:0;
    position: absolute;
    bottom:0px;
    left:0;
    text-align: center;

    .img-selector-btn
    {
        margin: 0;
        padding:0;
        border:none;
        background:none;
        color:rgba(255, 255, 255, 0.2);
    }
    #img-selector-btn-1{color:white;}//initialized state
}


/////////////////////////////
/////////////////////////////
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
/////////////////////////////
/////////////////////////////
/////////////////////////////
