@import "mixin";

#member-content-wrapper
{
    padding:30px 10px;
    text-align: center;
}

#member-btn
{
    button
    {
        padding:10px 20px;
        font-size: 1.3rem;
        border: none;
        border-radius: 10px;
        background: green;
    }
}