@import "mixin";

#books-gallery
{
    width:100%;
    background:rgba(255, 255, 255, 0.52);
    display:flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    z-index:-1;
}

.row
{
    display: flex;
    @include desktop {flex-direction: row;}
    @include mobile {flex-direction: column;}
    padding: 0;
    margin:0;
}
.col
{
    width:auto;
    height:100%;
    display:flex;
    flex-direction: row;
    padding: 0;
    margin:0;
    flex:1;
}

.cell
{
    width:auto;
    height:100%;
    padding:0;
    //margin:0;
    @include desktop {margin:20px; }
    @include mobile {margin:5px;}
    overflow-x: hidden;
    flex:1;
    transition: all .5s;
    transform: scale(.99);

}
.cell:hover
{
    transform: scale(1);
}

.book
{
    width:100%;
    height:auto;
    background:white;
    padding: 0px;
    margin:0;
    text-align: center;
    transition: all .5s;
    box-shadow: 0 0px 10px #000000c5;
    
    flex:1;
}

.book:hover
{
    .book-cover
    {
        filter: blur(2px);
    }
}

.book-cover
{
    max-width:100%;
    max-height:100%;
    height:auto;    
}

.book-content
{
    width: 75%;
    height: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.9);
    color:white;   
    opacity:0;
    padding:10px;
    
    position: absolute;
    top:0px;

    left:100%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    transition: left .3s, opacity .3s;


    // book details formatting
    h1{font-size:1.4rem;}
    h1 h3{font-size:1rem;}
    h3,h5{font-size:1rem;}
}


.slide-in
{
    left:0!important;
    opacity:1;
}

.slide-out
{
    left:100%!important;
    opacity:0;
}
