#footer-bottom
{
    background: black;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;

    *
    {
        text-decoration: none; 
        color: #838383;
        flex: 1;
        padding:.3rem;
        margin:0;
        text-align: center;
    }
}