html 
{
    @include lg {font-size: 20px;}
    @include md {font-size: 15px;}
    @include sm {font-size: 13px;}
    
    font-family: Roboto, Arial, sans-serif, Kalpurush;
    
}
body
{
    display: block;
    width: 100%;
    background:#ffffff;
    padding:0;
    margin:0;
    text-decoration: none;
    color: #3c3c3c;
    cursor: default;
    scroll-behavior: smooth;
}

button, a {outline:none!important;}
button::-moz-focus-inner, a::-moz-focus-inner {border: 0;}
button:focus, a:focus {outline:none;}
a:visited
{
    color:blue;
}

hr, .hr
{
    width: 99%;
    border:none;
    border-top: solid .05rem #ccc;
    padding: .01rem 0;
}