html 
{
    @include lg {font-size: 20px;}
    @include md {font-size: 15px;}
    @include sm {font-size: 8px;}
    font-family: Kalpakush;

}
body
{
    display: block;
    width: 100%;
    background:#ffffff;
    padding:0;
    margin:0;
    text-decoration: none;
    color: #3c3c3c;
    cursor: default;
    scroll-behavior: smooth;
}

button, a {outline:none!important;}
button::-moz-focus-inner, a::-moz-focus-inner {border: 0;}
button:focus, a:focus {outline:none;}
a:visited
{
    color:blue;
}

