@font-face {
  font-family: 'Kalpurush';
  src: url('/assets/fonts/Kalpurush-Regular.ttf');
  unicode-range: U+0980-09FF; //Bangla Range (source: http://www.unicode.org/charts/PDF/U0980.pdf‎‎)
  font-display: block;
  font-weight: 0; 
}

@font-face{
	font-family:'OrgNameFont';
	src:url('../fonts/LOS_name_font_minified.ttf');
	font-style:normal;
	font-weight:normal;
}


@import '../scss_vars_mixins';
@import './html-style';
@import './header';
@import './footer';
@import './page-banner';
@import './content-container';
@import './post';
@import './share-btn';
@import './youtube-embed';