@import '../scss_vars_mixins';

#front-page-news-container
{
    display: block;
    @include lg{margin:10px;}
    @include sm{margin:5px;}
    @include md{margin:0px;}
}

#front-page-news-wrapper
{
    display: block ruby;
    overflow-x: scroll;
    //scrollbar-width: thin;
    @include lg{margin:0 10px;}
    @include sm{margin:0 5px;}
    @include md{margin:0 5px;}
}

.news
{
    background: #f8f8f8;
    @include lg{padding:10px;}
    @include sm{margin:5px;}
    @include md{margin:2px;}
    height: calc(100vw / 3.5 + 20px);
    width: calc((100% - 10px)/3);
    vertical-align: top;

    .news-img-container
    {
        width:100%;
        height: 70%;
        overflow: hidden;
        img{ 
            height: 100%;
            min-width: 100%;
            transition: transform .3s ease-in-out;
            transform: scale(1);
            }
    }
    .news-title, .news-date-tag, .news-excerpt, .news-btn
    {
        padding:0;
        margin:0;
    }
    .news-title
    {
        font-size: 1.1rem;
    }
    .news-date-tag
    {
        color:rgb(173, 173, 173);
        font-size:.5rem;
        padding-left:5px;
    }
    .news-excerpt
    {
        font-size: .8rem;
        padding-left:5px;
    }
    .news-btn
    {
        border:none;
        padding:0;
        margin:0;
        font-size: .6rem;
        float:right;
        padding: 1px 5px;
        background: #0073d1;
        color:white;
    }
}
.news:hover, .news:focus
{
    .news-img-container
    {
        img{ transform:scale(1.03);}
    }
}