@import '../scss_vars_mixins';

#front-page-news-container
{
    display: block;
    @include lg{margin:10px;}
    @include sm{margin:5px;}
    @include md{margin:5px;}
    overflow-x: scroll;
    //overflow-y: hidden;
    scrollbar-width: thin;
}

#front-page-news-wrapper
{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    @include lg{margin:0 10px;}
    @include sm{margin:0 5px;}
    @include md{margin:0 5px;}
}


#news-controller
{
    position: relative;
    bottom:calc(100vw / 4);

    #news-left-btn, #news-right-btn
    {
        position: absolute;
        padding:0;
        margin:0;
        background: #ffffff;
        width: 4rem;
        height: 5rem;
        border: none;
    }
    #news-left-btn:hover, #news-right-btn:hover
    {
        background: #ffffffdd;
    }
    #news-left-btn
    {
        left: 0px;
    }
    #news-right-btn
    {
        right: 0px;
    }
}


.news
{
    width:calc(100vw /3);
    height: 70%;    
    //background: #f8f8f8;
    @include lg{padding:10px;}
    @include sm{margin:5px;}
    @include md{margin:2px;}
    //height: calc(100vw / 2.7);
    //width: calc((100% - 10px)/3);
    vertical-align: top; 
    .news-img-container
    {
        width: calc(100vw / 3);
        height: calc(100vw / 4);
        overflow: hidden;
        padding:0;
        margin:0;
        img{ 
            height: 100%;
            width: 100%;
            transition: transform .3s ease-in-out;
            transform: scale(1);
            }
    }
    .news-title, .news-date-tag, .news-excerpt, .news-btn
    {
        padding:0;
        margin:0;
    }
    .news-title
    {
        font-size: 1.1rem;
    }
    .news-date-tag
    {
        color:rgb(173, 173, 173);
        font-size:.5rem;
        padding-left:5px;
    }
    .news-excerpt
    {
        font-size: .8rem;
        padding-left:5px;
    }
    .news-btn
    {
        border:none;
        padding:0;
        margin:0;
        font-size: .6rem;
        float:right;
        padding: 1px 5px;
        background: #0073d1;
        color:white;
    }
}
.news:hover, .news:focus
{
    .news-img-container
    {
        img{ transform:scale(1.03);}
    }
}
