<div id="activity-post">
    <h1 class="activity-title">
        <span>{{page.title}}</span>
        {%if page.active == true%} 
        <span class="active"></span>
        {%endif%}
    </h1>
    <div class="activity-cover"><img src="{{page.image}}" alt="{{page.image_alt}}"></div>
    {%include social-share-btn.html title=page.title link=page.url%}

    <div class="activity-description">{{page.content}}</div>

    {%for file in page.file%}
    <a href="{{file.url}}" target="_blank"><button class="file-btn">{{file.file_description}}</button></a>
    <br>
    {%endfor%}
    {%for tag in page.tags%}
    <a href="https://www.google.com/search?q=site%3ALightOfScience.org.in+{{tag}}"><button class="tag-btn">{{tag}}</button></a>
    {%endfor%}
    <hr>
    <h3 class="activity-date">Published on: {{page.date | date: "%d/%m/%Y"}}</h3>

</div>
<div id="post-side-pane">
    {%include post-side-pane.html %}
</div>

