<div id="activity-list-wrapper">
    <div id="activity-list-container">
        {%for activity in site.activities reversed %}
            {%assign activity_date = activity.date | date: "%d %b %Y"%}
            {%assign activity_title = activity.title%}
            {%assign activity_image = activity.image%}
            {%assign activity_image_alt = activity.image_alt%}
            {%assign activity_excerpt = activity.excerpt%}
            {%assign activity_content = activity.content%}
            {%assign activity_url = activity.url%}
            
            <div class="activity">
                <div class="activity-cover">
                  <a href="{{activity_url}}">
                        <div class="activity-img-wrapper">
                            <img  class="activity-img" src="{{activity_image}}" alt="{{activity_img_alt}}">
                            <h5 class="activity-date">{{activity_date}}</h5>
                        </div>
                    </a>
                </div>
                <div class="activity-details">
                    <h2 class="activity-title"><a href="{{activity_url}}">{{activity_title}}</a></h2>
                    <h3 class="activity-excerpt">{{activity_excerpt}}</h3>
                    <h5 class="activity-tag-container">
                        {%for tag in activity.tags%}
                            <span><a class="activity-tag" href="https://www.google.com/search?q=site%3ALightOfScience.org.in+{{tag}}">#{{tag}}</a></span>
                        {%endfor%}
                    </h5>
                </div>
            </div>
            <hr class="hr">
        {%endfor%}
    </div>
</div>