<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Light Of Science</title>
    <meta name="keywords"   content="Light of Science, Breakthrough Science Society, Science, Society, Scientific Temper, Jalpiguri, West Bengal, India, Science for Society, Science for Man, Science in Thinking"/>
    <meta name="author"     content="Light Of Science"/>
    <meta name="description" content="Light of Science is a science organization located in the Jalpaiguri district of West Bengal. This Science Organization is affiliated to Breakthrough Science Society (Registration Number - 53166/92)." />
    
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="Light of Science is a science organization located in the Jalpaiguri district of West Bengal. This Science Organization is affiliated to Breakthrough Science Society (Registration Number - 53166/92). />
    <link rel="canonical" href="https://LightOfScience.tk/" />
    <meta property="og:url" content="https://LightOfScience.tk/" />
    <meta property="og:site_name" content="Light Of Science" />
    
    <script type="application/ld+json">
    {
        "@context":"https://schema.org",
        "@type":"WebSite",
        "headline":"Contact Light Of Science",
        "url":"https://LightOfScience.tk/Contact_Us.html",
        "name":"Contact Light Of Science",
        "description":"Light of Science is a science organization located in the Jalpaiguri district of West Bengal. This Science Organization is affiliated to Breakthrough Science Society (Registration Number - 53166/92)."
    }</script>
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png"/>
    <link rel="stylesheet" href="/assets/css/globalstyle.css">
    {% include styles.md %}
</head>
<body>

    <header id="header">
        <div id="motto">
            <h3 class="motto-element">Science for Society</h3>
            <h3 class="motto-element">Science for Man</h3>
            <h3 class="motto-element">Science for Science in Thinking</h3>
        </div>
        <div id="nav-bar">
            <div id="org">
                <div id="logo-wrapper"><img id="logo" src="/assets/img/los_logo.svg" alt="Light Of Science Logo" ></div>
                <h1 id="org-name">Light Of Science</h1>

                <button id="menu-icon">
                    <i class="fas fa-2x fa-bars"></i>
                </button>
            </div>
            <nav id="nav-wrapper">
                <ul id="nav">
                    <li class="nav-element-wrapper"><a class="nav-element" href="/index.html" title="Light Of Science - Home">Home</a></li>
                    <li class="nav-element-wrapper"><a class="nav-element" href="/Notifications.html" title="Notifications">Notifications</a></li>
                    <li class="nav-element-wrapper"><a class="nav-element" href="/Events_&amp;_Activities.html" title="Events &amp; Activities">Events &amp; Activities</a></li>
                    <li class="nav-element-wrapper"><a class="nav-element" href="/Publications_&amp;_Books.html" title="Publications &amp; Books">Publications &amp; Books</a></li>
                    <li class="nav-element-wrapper"><a class="nav-element" href="/Member.html" title="Member">Member</a></li>
                    <li class="nav-element-wrapper"><a class="nav-element" href="/About_Us.html" title="About Us">About Us</a></li>
                    <li class="nav-element-wrapper active"><a class="nav-element" href="/Contact_Us.html" title="Contact Us">Contact Us</a></li>
                    <li class="nav-element-wrapper">
                        <a class="nav-element-social" href="https://facebook.com/LightOfScience/" target="_blank" title="Facebook Page"><i class="fab fa-facebook-square"></i></a>
                        <a class="nav-element-social" href="https://www.youtube.com/channel/UC9SgA7fF5rI3XNj11N4GPwA/" target="_blank" title="YouTube Channel"><i class="fab fa-youtube"></i></a>
                        <a class="nav-element-social" href="mailto:LightOfScience@outlook.com?cc=LightOfScienceOfficial@gmail.com" title="Send Email"><i class="fas fa-envelope"></i></a>
                        <a class="nav-element-social" href="tel:+918927686156" title="Call Us"><i class="fas fa-phone-square"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="content-wrapper">
        
        
    

    </div>
   
    {% include footer.html %}
    {% include scripts.md %}
</body>
</html>