<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Of Science - Science for Society | Science for Man | Science in Thinking</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <meta name="author" content="Light Of Science">
    <meta name="description" content="Light Of Science is a voluntary science organization committed to the cause of science located in the district Jalpaiguri of West Bengal. This organization is affiliated to Breakthrough Science Society (regd no. 53166/92). The journey of Light Of Science started in the year 1998 at Jalpaiguri to promote scientific ideas and scientific temperament in the society.">
    <meta name="keywords" content="Light Of Science,Science,Education,Technology,Engineering,Breakthrough Science Society">
    <meta property="og:title" content="Light Of Science - Science for Society | Science for Man | Science in Thinking">
    <meta property="og:description" content="Light Of Science is a voluntary science organization committed to the cause of science located in the district Jalpaiguri of West Bengal. This organization is affiliated to Breakthrough Science Society (regd no. 53166/92). The journey of Light Of Science started in the year 1998 at Jalpaiguri to promote scientific ideas and scientific temperament in the society.">
    <meta property="og:image" content="/assets/img/light of science - header.jpg">
    <meta property="og:url" content="https://LightOfScience.org.in/">
    <meta name="twitter:title" content="Light Of Science - Science for Society | Science for Man | Science in Thinking">
    <meta name="twitter:description" content="Light Of Science is a voluntary science organization committed to the cause of science located in the district Jalpaiguri of West Bengal. This organization is affiliated to Breakthrough Science Society (regd no. 53166/92). The journey of Light Of Science started in the year 1998 at Jalpaiguri to promote scientific ideas and scientific temperament in the society.">
    <meta name="twitter:image" content="/assets/img/light of science - header.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="/index.html">
</head>
<body>
{% include header.html nav="home" %}
    
</body>
</html>