<!-- Carousel Stylesheet-->
<link rel="stylesheet" type="text/css" href="/assets/css/front-page-news.css">

<div id="front-page-news-container">
    <div id="front-page-news-wrapper">
        <div id="front-page-news">
            {%assign news_post_length = site.news | size %}
            {% for i in (1..5) %}
                {%assign news_index = {{news_post_length}} | minus:{{i}} %}
                {%assign news_title = site.news[news_index].title %}
                {%assign news_excerpt = site.news[news_index].excerpt %}
                {%assign news_date = site.news[news_index].date | date: "%d %b %Y" %}
                {%assign news_image = site.news[news_index].image %}
                {%assign news_image_alt = site.news[news_index].image_alt %}
                {%assign news_link = site.news[news_index].url %}
                <!-- news card {{i}}-->
                    <div id="news{{i}}" class="news">
                        <div class="news-img-container"><a href="{{news_link}}"><img src="{{news_image}}" alt="{{news_image_alt}}"></a></div>
                        <h5 class="news-date-tag">
                            <span>{{news_date}} • </span>
                            {%for tag in site.news[news_index].tags%}
                                <span>#{{tag}}</span>
                            {%endfor%}
                        </h5>
                        <h2 class="news-title">{{news_title}}</h2>
                        <h3 class="news-excerpt">{{news_excerpt}}</h3>                  
                    </div>
            {%endfor%}
        </div>

        <button id="news-btn-left"><img src="/assets/img/left-arrow.svg" width="100%" height="100%"></button>
        <button id="news-btn-right"><img src="/assets/img/right-arrow.svg" width="100%" height="100%"></button>
    </div>
</div>
<!-- News-bar Script-->
<script src="/assets/js/front-page/news-bar.js"></script> 