<!-- Front Page Carousel-->
<div id="front-page-carousel-wrapper">
    <div id="front-page-carousel">
        <div id="carousel-slides">
            {%assign slide_post_length = site.front-page-carousel | size %}
            {%for i in (1..5) %}
                {%assign slide_index = {{slide_post_length}} | minus:{{i}} %}
                {%assign slide_title = site.front-page-carousel[slide_index].title %}
                {%assign slide_img = site.front-page-carousel[slide_index].image %}
                {%assign slide_img_alt = site.front-page-carousel[slide_index].image_alt %}
                {%assign slide_link = site.front-page-carousel[slide_index].link %}
                {%assign slide_content = site.front-page-carousel[slide_index].content %}
                <!-- Slide {{i}}} -->
                <div id="slide{{i}}" class="slide slide-show">
                    <div class="img-container"><img src="{{slide_img}}" alt="{{slide_img_alt}}"></div>
                    <div class="slide-description">
                        <h2 class="slide-title">{{slide_title}}</h2>
                        <h3 class="slide-details">{{slide_content}}</h3>
                        {%if slide_link != "" %}
                            <a href="{{slide_link}}"> more details ...</a>
                        {%endif%}
                    </div>
                </div>
            {%endfor%}
        </div>

        <div id="carousel-nav">
            <button id="slide1-btn" class="slide-btn slide-btn-active" onclick="show('slide1')"></button>
            <button id="slide2-btn" class="slide-btn" onclick="show('slide2')"></button>
            <button id="slide3-btn" class="slide-btn" onclick="show('slide3')"></button>
            <button id="slide4-btn" class="slide-btn" onclick="show('slide4')"></button>
            <button id="slide5-btn" class="slide-btn" onclick="show('slide5')"></button>
        </div>
    </div>
</div>