{%if site.data.landing-overlay.status == true %}

<!-- Style -->
<link rel="stylesheet" href="/assets/css/front-page-overlay.css">

<div id="front-page-overlay-wrapper">
    <div id="front-page-overlay-container">
        <div class="overlay-notice">
            <button class="overlay-close-btn" onclick="overlay_hide();"><img src="/assets/img/x.svg" alt=""></button>
            <h2 class="overlay-title">{{site.data.landing-overlay.title}}</h2>
            <h3 class="overlay-description">{{site.data.landing-overlay.description}}</h3>
        </div>
    </div>
</div>

<script>
    var overlay_hide = () =>
    {
        document.getElementById("front-page-overlay-wrapper").style.display=('none');
    }
    window.onload = () => 
    {
        setTimeout(function(){overlay_hide();}, 5000);
    }
</script>

{%endif%}

